[2015-12-09 20:53] AnotherCoolDude opened #2 "Cocoapods support ?"
cocoapods support would be sweet :)

[2015-12-10 00:35] RuiAAPeres commented on #2
@AnotherCoolDude done! :+1:

[2015-12-10 00:35] #2 closed

[2015-12-15 08:12] DaRkD0G opened #5 "[Thanks] Top"
Thanks for your work =) 👍🏻

[2015-12-16 10:23] RuiAAPeres commented on #5
Thanks @DaRkD0G !!! :cake:

[2015-12-16 10:23] #5 closed

[2016-02-19 07:51] LeeMing988 opened #16 "How to pass image into the ImageView?"
Hello,

   By refer to your code, I wonder how I can pass my selected Image to display?

[code]

[2016-02-19 09:40] Krisiacik commented on #16
Hi,
this is not how it works strictly speaking. There are two steps. One is mandatory , the second is optional.
Step 1) you provide a **reference** to a (displaced) view - image viewer makes a screenshot of it and this screenshot is what is animated.
Step 2) You provide a reference to an object that complies to the ImageProvider protocol.
Image viewer then calls the provideImage method on this obj

[2016-02-21 03:13] RuiAAPeres commented on #16
@LeeMing988 adding to what @Krisiacik said: the idea is to decouple the presentation layer (our lib) from the model layer (**what** provides the image). This way you are free to use whatever you want to download the image and not coupled to our own implementation. I would advise [Nuke](https://github.com/kean/Nuke) for example.

[2016-02-24 09:30] LeeMing988 opened #17 "How to change transition style?"
Hello, any idea to customise the transition style when presenting the image?

[2016-02-24 11:16] Krisiacik commented on #17
An image displacement effect was the core idea to write this piece of code. The transition logic to full screen is not well encapsulated so at the moment I don't think you can easily do it.

[2016-02-24 21:44] #17 closed

[2016-02-24 21:44] #16 closed

[2016-02-26 17:44] Krisiacik opened #18 "Gallery expansion"
ImageViewer is going to evolve to a full fledged Gallery.

Requirements:

Visual transition from article to gallery should match the experience provided by ImageViewer so far i.e. using the displacement effect.

The gallery will have these view elements

image counter (positioned in the top middle)
close button (top right)
caption (on top of social share sheet)
social share sheet (bottom)

horizon

[2016-03-18 14:29] Krisiacik opened #20 "What to do with legacy API for 1 image?"
Now that we have codebase to support multiple images that required to create slightly different API, there is a question of what to do with legacy API.

Shall we

1) create a separate git repo and keep this ImageViewer one as is?
2) keep both classes (viewer and gallery) in the project so the gallery would be pure addition?
3) Keep the legacy API signatures but make them call the new gallery codeb

[2016-03-30 16:18] Krisiacik commented on #20
I think we can close this one since we made a decision to go with option 2).

[2016-03-30 16:18] Krisiacik commented on #18
This was done.

[2016-03-30 16:18] #18 closed

[2016-03-30 16:19] Krisiacik opened #21 "Add an option to customise the main background colour."
At the moment the main background colour is hardcoded to black.

[2016-03-30 17:30] #20 closed

[2016-04-02 14:05] Krisiacik opened #22 "Add thumbnails Grid View"
For galeries with dozens of images a grid like special view with thumbnails would keep UX fine.
One thing would have to be ensured. Some kind of mutually exclusive layout logic between the close button and thumbnails button.

[2016-04-08 05:38] chuckurbis commented on #21
Another thing that would be nice in this enhancement, would be to either default, or have an option to set the screenshot made via the screenshotFromView method in UtilityFunctions.swift, not default to opaque.

So it would be:
`    UIGraphicsBeginImageContextWithOptions(view.bounds.size, false, UIScreen.mainScreen().scale)
`

This allows for rounded images to full screen up without a black area f

[2016-04-09 08:48] ZahidKsoft opened #23 "Add action button support via delegate"
Please add Activity view controller support via delegate method so that the sharing and all those default features can be used over the image

[2016-04-10 20:33] Krisiacik commented on #23
You already have optional completion blocks. Together with publicly accessible current index and injectable decoration views, you can implement social sharing without changes to our current codebase.
I'll consider delegate callbacks for the same states, it's nothing too difficult, why not... But I wanted to highlight there is nothing stopping you from having social sharing right now.

Let me know

[2016-04-11 09:18] Krisiacik opened #25 "Allow transparency for the displaced view."
Suggested by @chuckurbis

This can be set in the utility function that is making the screenshot. Helps to make screenshots that are non-rectangle shaped.

[2016-04-11 09:19] Krisiacik commented on #21
Cool idea. We will do it.
[#25](https://github.com/MailOnline/ImageViewer/issues/25)

[2016-04-12 11:57] renatorodrigues opened #26 "Swipe gesture to dismiss ImageViewer is broken 👇💥"
In the _single image mode_, the vertical swipe gesture to dismiss the image away only works properly when swiping up.  When swiping down, the gesture never finishes, thus, never dismissing the controller.

![image-viewer](https://cloud.githubusercontent.com/assets/246079/14459087/c92d7116-00ad-11e6-857b-fb763af2f931.gif)

[2016-04-13 14:20] Krisiacik commented on #26
Hi @renatorodrigues I checked the issue and it would be sufficient just to add this line
`presentingViewController?.dismissViewControllerAnimated(true, completion: nil)`
 to the else case.
But @RuiAAPeres suggested to extract this to a separate method. After examining your fix with abs, I realised you also removed a bit of duplication so I hope you don't mind us taking a hint from your approach an

[2016-04-13 14:25] #26 closed

[2016-04-13 14:28] renatorodrigues commented on #26
@Krisiacik, I'm glad I was able to help. :+1:

[2016-05-14 22:53] #23 closed

[2016-05-30 21:26] ahusseini opened #30 "presenting displaced view maintains its image size, does not fit to new ImageView bounds"
Hello, when passing a `UIImageView` (which has a `contentMode` of `.ScaleAspectFit`) as a displaced view, `GalleryViewController` maintains the image size. If the image is fit by height it maintains the aspect ratio and does not layout to the new bounds.

passing first image as displaced:

<img src="https://cloud.githubusercontent.com/assets/6011755/15658514/44a09a96-268b-11e6-8466-c79c3a9f8983.pn

[2016-05-31 10:20] Krisiacik commented on #30
Thanks! We will have to take a look.

[2016-06-01 14:00] Krisiacik commented on #30
Hi...could you please provide the original image as well as measure the size of the original UIImageView instance and let us know what it is? I'd like to reproduce this 100%.

[2016-06-02 15:20] ahusseini commented on #30
Hello, sorry for the late reply. Some background info: the `UIImageView` is in a `UICollectionViewCell` it's height is 300px and its width is the device's width.

here is the image:

![homer](https://cloud.githubusercontent.com/assets/6011755/15750332/07b041ce-28b4-11e6-84c6-837bd68e5526.png)

[2016-06-02 20:38] yuriramocan opened #31 "ImageViewer that is never presented will crash on deinit"
If an `ImageViewer` is created but never presented, its various view properties, namely `scrollView`, will never be initialized, and so will crash the app in `deinit` when `scrollView.removeObserver(self, forKeyPath: "contentOffset")` is called. Simply changing the `deinit` to `scrollView?.removeObserver(self, forKeyPath: "contentOffset")` fixes the issue.

[2016-06-03 09:20] Krisiacik commented on #31
@yuriramocan You are very right! But instead of just properly calling a method on an optional, I will get rid of those optionals in the first place. I don't know what I was thinking when writing that code 😧

[2016-06-09 13:16] Krisiacik commented on #31
This was fixed
https://github.com/MailOnline/ImageViewer/releases/tag/2.0.6

[2016-06-09 13:16] #31 closed

[2016-06-10 10:06] betoHub opened #32 "Missing presentingViewController?.dismissViewControllerAnimated statement in ImageViewer.swift ?"
I think a presentingViewController?.dismissViewControllerAnimated statement is missing at line 457 of ImageViewer.swift

Could be?

Anyway, great work!

[2016-06-10 10:25] Krisiacik commented on #32
Why do you think so? We are canceling the swipe there. We do not want to dismiss because the swipe speed (finger movement speed) was too slow to swipe the image away. So that switch case reflects just that.

Thanks for using the library :)

[2016-06-10 10:34] Krisiacik commented on #30
Some update:  This is a hard problem, from design /UX perspective.. I have still not decided what the correct action should be...but I am trying :)

[2016-06-10 10:38] betoHub commented on #32
I noticed that if you swipe down very fast the image get stucked down and another tap is required to get the image repositioned, by adding that line instead, swiping down so fast it's the same of swiping up to dismiss the imageView!

[2016-06-10 10:50] Krisiacik commented on #32
Are you looking at version 2.0.6?
![dismiss](https://cloud.githubusercontent.com/assets/9870899/15962245/8fec7532-2f01-11e6-8c0e-15d2a30d3103.png)

[2016-06-10 13:27] ealeksandrov opened #33 "Ability to see faded/blurred view under image viewer"
How about adding property to tune black background alpha or even add blur to underneath view?
Like in [JTSImageViewController](https://github.com/jaredsinclair/JTSImageViewController):
![](https://raw.githubusercontent.com/jaredsinclair/JTSImageViewController/master/jts-image-viewer-screenshot.png)

Thanks for awesome library!

[2016-06-10 13:33] Krisiacik commented on #33
That's a good idea. I have already implemented custom configurable colour for the background but I wasn't  happy with the result, white colour kind of worked well visually, but not other colours. Perhaps  the blur effect would give it an edge.

[2016-06-14 19:37] neoneye opened #34 "Migrate to swift 3 and Xcode8"
ImageViewer is awesome. I use ImageViewer in an app that is not going to be released any time soon. ImageViewer was easy to integrate with. Love your project.

Xcode8.0 beta was released yesterday and I have started [migrating my own projects to swift3](https://github.com/neoneye/SwiftyFORM/tree/feature/xcode80-beta).

Any plans for this?

[2016-06-16 04:55] RuiAAPeres commented on #34
@neoneye we are currently at SF, next week we will look into it. (most probably we will create a swift3 branch a have the work there)

[2016-07-04 08:03] NuVeS opened #36 "Cannot use with pod"
I add pod "ImageViewer" to pod file, make pod install and it installs. After that how to use ImageViewer class if there is no module to import and it does not see ImageViewer class?

[2016-07-04 09:15] #36 closed

[2016-07-04 09:17] NuVeS opened #37 "No CounterView"
Do u guys know that there is no CounterView class in imageView framework. However there is line using this class in Readme.md

[2016-07-04 09:58] Krisiacik commented on #37
There is work on 3.0 in progress right now ( a nice update I must say :) ) as part of it I am considering to include these classes as "bonus" stuff.

[2016-07-04 12:49] Krisiacik commented on #32
This was a bug in an older release.

[2016-07-04 12:49] #32 closed

[2016-07-04 23:07] wongmac opened #38 "Problem with dragging down(in opposition to up) on an image in imageviewcontroller"
For some reason when I try to dismiss an image by swiping down dragging the image down, the image becomes "stuck" to the bottom. Dismissing the image by swiping up works perfectly, as well as through close button. Looked at the code, and both directions should work just fine with the pangesture. Could you help me out?
![aaaa](https://cloud.githubusercontent.com/assets/16651313/16570772/0a50b2fc-42

[2016-07-05 10:49] sreeji44 opened #39 "Is it possible to add extra view at the bottom of gallery view?"
I need an extra view to add Comments, share, delete button at the bottom of gallery view.. is it possible to add

[2016-07-05 11:10] Krisiacik commented on #39
Yes, prepare your view (or views in view hierarchy ) in advance and assign it to the footer view property.

Sent from my iPhone

[2016-07-05 16:50] lfarah commented on #36
Hey @NuVeS, sometimes that happens. Just import wherever you import UIKit. I'm taking this from [iOS Readme Template](https://github.com/awesome-labs/iOS-readme-template)
To get the full benefits import `ImageViewer` wherever you import UIKit

[code]
Sometimes Xcode won't recognize, so just press <kbd>shift</kbd> + <kbd>option</kbd>+<kbd>command</kbd> + <kbd>K</kbd> to clean the build.

If you pre

[2016-07-06 08:33] ricardopereira opened #40 "Type 'ImageViewer' has no member 'GalleryViewController'"
The project where I'm working now already has an `GalleryViewController` type 😁
So I forced to use the correct `GalleryViewController` type calling it explicitly with the module name `ImageViewer` like

[code]
but then the compiler generates this error:
"_Type 'ImageViewer' has no member `GalleryViewController`_".

Any workaround? (maybe using a class prefix?)

[2016-07-06 08:55] ricardopereira commented on #40
This is a valid import `import class ImageViewer.GalleryViewController` but I needed something like `import class ImageViewer.GalleryViewController as ImageViewerGalleryViewController` 😄

[2016-07-06 10:08] RuiAAPeres commented on #34
@neoneye we might do this, a bit further down the line, as right now we don't have a lot of pressure to move to Xcode8. If you are interested, you can open a PR.

[2016-07-06 10:08] #34 closed

[2016-07-06 17:20] #40 closed

[2016-07-07 10:46] zfoltin commented on #39
Here it is in the example
https://github.com/MailOnline/ImageViewer/blob/master/Example/ViewController.swift#L41

[2016-07-08 06:23] TofPlay opened #43 "Swift 3 and SwiftPM support"
Hi,
It's will be great to create a [Swift 3](https://swift.org/blog/swift-3-0-release-process/) version of your component

Article about **Swift 3**:
- [Migrating to Swift 2.3 or Swift 3 from Swift 2.2](https://swift.org/migration-guide/)

With [Swift 3](https://swift.org/blog/swift-3-0-release-process/) it would also be nice to add support for [SwiftPM](https://swift.org/package-manager/)

Articl

[2016-07-08 10:44] #39 closed

[2016-07-08 10:44] #37 closed

[2016-07-08 10:45] RuiAAPeres commented on #30
@ahusseini could you try #42 to see if it fits your needs?

[2016-07-08 10:47] RuiAAPeres commented on #43
@TofPlay would you be willing to create a PR with that work? We are currently busy and we are going to wait a bit longer until that migration.

[2016-07-08 14:40] ahusseini commented on #30
Thank you, I'll test this out tonight and let you know.

[2016-07-08 15:03] ahusseini commented on #30
Tried out @zfoltin's solution, it resolves this issue and smoothly animates the transition (which was a bonus). Thank you all for your help!

[2016-07-08 17:02] zfoltin commented on #38
@wongmac can you try and run the Example? Does that work as expected? Can't really think of any reason why it would stuck like that

[2016-07-11 09:39] TofPlay commented on #43
@RuiAAPeres I'm also busy to prepare the migration to Swift 3 for my projects 😥

[2016-07-12 15:32] paulcirstean commented on #38
I'm experiencing similar behavior.

[2016-07-12 15:57] Krisiacik commented on #38
Guys, sorry to hear about your troubles :( . We had this issue, true, but we fixed it in
https://github.com/MailOnline/ImageViewer/releases/tag/2.0.3

Are you sure your dependency to that particular version (or later) is set up correctly?
@wongmac As you say the code looks correct, there's really no reason why this should not work.

Pls check and let us know.

[2016-07-12 16:05] Krisiacik commented on #38
Guys, sorry to hear about your troubles :(

We had this issue in the past, but it was fixed in release 2.0.3
https://github.com/MailOnline/ImageViewer/releases/tag/2.0.3

Are your sure you are pointing to an up-to-date version in your dependency setup?
@wongmac As you said, the code seems to be correct.. it should work.

Pls check your carthage/cocoapods and let us know.

[2016-07-13 19:21] goatmad commented on #21
Just found out about this being hardcoded, and everything being declared final so no overrides can be done.  Does anyone have a temporary solution to change the background color?

I tried using landedPageAtIndexCompletion to change the background color, but obviously that happens after the view finishes animating to place.

[2016-07-15 15:49] paulcirstean commented on #38
Just tested with 2.0.3 and it's still reproducible :( The sample app works correctly. Quite strange..

[2016-07-15 16:04] Krisiacik commented on #38
Hi @paulcirstean,

hmmm...for completely inexplicable reasons the tags for 2.0.3 and 2.0.4 are in reverse order.
Do you have any specific reason not to go with 2.0.6? That will have guaranteed to have the fix included.

[2016-07-16 13:31] ahmedbaracat commented on #38
I have checked the example project and the difference is in that a new function was added to handle swipe ended case. I have used it with version 2.0 and the problem was fixed. The pod version needs to be updated.

[code]

[2016-07-18 11:55] paulcirstean commented on #38
Works with 2.0.6. Thanks!

[2016-07-18 12:41] #38 closed

[2016-07-18 16:21] MunroGrant opened #45 "First Image in array does not appear right away."
Hi, when the images are provided by a multiple image picker such as BSImagePicker ([https://github.com/mikaoj/BSImagePicker]) , the first image does not load until the first page is reloaded via scrolling a few images over then back.  Any idea as to a fix?  I feel like it has to do with the initial animation for the displaced view, which I have tried to disable, but still didn't fix the issue.  Th

[2016-07-19 10:48] #30 closed

[2016-08-08 12:03] biizc1150 opened #47 "Is there any way to disable scroll horizontal to dismiss preview mode ?"
Is there any way to disable scroll horizontal to dismiss preview mode ?

Thanks :)

[2016-08-08 12:06] Krisiacik commented on #47
Hi,
not at the moment,  but it's a good idea. It would be very easy to allow this to be configured from the configuration.
I will add this to the list of 3.0 features.

Thanks :)

[2016-08-09 11:27] RuiAAPeres commented on #45
@MunroGrant are you still seeing this issue?

[2016-08-11 13:57] #21 closed

[2016-08-11 14:20] #25 closed

[2016-08-11 15:02] #22 closed

[2016-08-23 19:23] andreyrd commented on #43
I got it to compile under Swift 3, but I haven't done any testing of it yet (won't be able to for a few more days), and I probably won't be able to check if the API ended up changing somewhere, because I haven't used this library prior to Swift 3.

Here it is: https://github.com/andreyrd/ImageViewer/tree/swift3

[2016-08-26 11:26] Krisiacik commented on #45
Hi @MunroGrant. It seems you have an issue with your image provider. I suggest to focus on the the mechanism that returns that particular image.
Can you shuffle the images so that you can possibly reproduce this with different images? Can you ensure the images are really available instantly when they are asked for?

[2016-09-13 11:17] FranciscoAmado commented on #43
@andreyrd try running the example project for your Swift 3 branch. I believe it isn't working properly. In mine, the whole functionality is unusable.

[2016-09-14 21:41] emonfil87 opened #54 "Swift 3"
compatibility with swift 3

[2016-09-15 11:03] Krisiacik commented on #54
Duplicate of https://github.com/MailOnline/ImageViewer/issues/43

[2016-09-15 11:03] #54 closed

[2016-09-19 15:31] ivanbruel opened #56 "Configurable ImageView"
I've been using [Kingfisher](https://github.com/onevcat/Kingfisher) as my image loading dependency alongside its `AnimatedImageView` which adds support for GIF loading.

As such, in order to take advantage of this in `ImageViewer` I had to make the `imageView` property public in the `ImageViewerController` class.

As this might be a problem for other people using different dependencies, might be n

[2016-09-22 21:45] Krisiacik commented on #33
This is now part of ImageViewer 3.0

[2016-09-23 01:06] osolano opened #57 "Update cocoapods build with latest from repo"
It seems as if the version that is coming from cocoapods is an old version of ImageViewer.

With xcode 8, i'm forced to Swift 2.3 and the new version of ImageViewer can handle this.

My workaround is using this in my PodFile

`pod 'ImageViewer', :git => 'https://github.com/MailOnline/ImageViewer.git'`

but then this has an issue with missing file ThumbnailsViewController.swift and ThumbnailCell.sw

[2016-09-30 13:55] pikor commented on #57
I have exactly the same issue! Would be great to see fix!

[2016-10-05 11:47] twalenciak commented on #56
+1 I've got similar issue with animated `ImageView` subclass, using [FLAnimatedImage](https://github.com/Flipboard/FLAnimatedImage), and also resolved this by fork and made this property public.

I think possibility of providing custom `imageView` could be very convenient for many users.

[2016-10-06 23:47] osolano opened #59 "Asynchronous loading images in galleryviewcontroller"
Hello,

I've been having trouble figuring out how to setup the asynchronous loading of images in galleryviewcontroller. Could you provide a snippet that will give me a hint on how to do this?

[2016-10-07 01:09] Krisiacik commented on #59
Hi..

here it is

    func provideGalleryItem(index: Int) -> GalleryItem {

        return GalleryItem.Image(fetchImageBlock: { imageProcessingBlock in

            //prepare your image here ------------
            let image = UIImage()
            //prepare your image here ------------

            imageProcessingBlock(image)
        })
    }

You can pass the imageProcessing block as a completi

[2016-10-13 01:06] osolano opened #61 "Add Config for disabling single tap decoration view hiding"
It'd be great to add a config option to disable the single tap behavior of hiding and showing the header and footer view.

[2016-10-13 01:06] osolano commented on #59
This helped! Closing

[2016-10-14 10:28] zfoltin commented on #57
Hey @RuiAAPeres can you push the updated podspec from master to Cocoapods please?

[2016-10-14 10:29] zfoltin commented on #43
Swift 3 support is here \o/ https://github.com/MailOnline/ImageViewer/releases/tag/4.0

[2016-10-14 10:30] #43 closed

[2016-10-14 10:30] zfoltin commented on #61
PRs are welcome :)

[2016-10-14 10:46] RuiAAPeres commented on #57
Done.

[2016-10-14 10:46] #57 closed

[2016-10-14 11:33] RuiAAPeres commented on #45
Closing due to lack of activity.

[2016-10-14 11:33] #45 closed

[2016-10-14 11:34] RuiAAPeres commented on #47
@Krisiacik was this solved?

[2016-10-14 11:34] #33 closed

[2016-10-18 00:03] seifeet opened #63 "README.md"
Can you guys please update
The swift version right now is 2.3. Stay tuned for 3.0.

I think it is already swift 3?

[2016-10-18 11:52] zfoltin commented on #47
I don't think it has been implemented yet. PRs are welcome @biizc1150 :)

[2016-10-18 18:24] seifeet commented on #63
thanks, I will close it then.

[2016-10-18 18:24] #63 closed

[2016-10-20 22:20] Luccifer opened #65 "How to add videos in .carusel?"
Hello!

Faced a feature today, but no idea how to make it real.. In standard Apple "Photos".app we can swipe like carusel(thnx for this!) and sometimes can swipe it till video-files... How did they managed to do this and how to implement it in this library? Also will be a great enhancement to library as well in general...

[2016-10-21 04:30] osolano commented on #59
Hello, reopening this since after doing some testing it seems that the image isn't being updated when the async call comes back with an image. Basically, when i present the galleryviewcontroller, it first tries to download the image, when the image returns, it calls the imageProcessingBlock. The problem is after it calls it nothing happens. Only after scrolling a bit to the left or to the right do

[2016-10-21 05:25] Krisiacik commented on #65
Version 3.0 supports both carousel and video playback.
You can turn on Carousel behaviour in a configuration file and return video items in the delegate callbacks.

[2016-10-21 05:29] Krisiacik commented on #59
You are calling the imageCompletion(image) block twice in downloadImageWithURL. I think the second occurrence is not necessary and is actually causing the problem.
The completion block of downloadImageWithURL is of no consequence to the image viewer, i think returning nil there is fine.

[2016-10-21 06:02] zfoltin commented on #59
I'd think it's the other way around. From the name `progressImage` I'd think this block gets called while downloading the image (giving you some progress % probably) and the `completion` block is called when it's all done. No?
Try to put `nil` for the `progressImage` block and only call `imageCompletion` from the `completion` block.

[2016-10-21 06:45] Krisiacik commented on #59
@zfoltin is right...I missed the "progress" in the problem.

[2016-10-21 08:13] Luccifer commented on #65
Yes, but images and videos i can swipe in the same carusel? Cause now it doesn't seems I can

[2016-10-21 08:23] Krisiacik commented on #65
Yes off course you can :) ..it would be pointless to only have either videos OR images.
Its a matter of correct response in delegate callbacks that provide the image & video content.
Look at the example project inside the repo. It uses both videos and images together in one carousel.

[2016-10-21 08:24] Luccifer commented on #65
Tanks a lot! You are awesome!

[2016-10-21 08:37] zfoltin commented on #65
Aren't we all are? 😄

[2016-10-21 08:37] #65 closed

[2016-10-21 16:20] osolano commented on #59
Thanks @zfoltin @Krisiacik  for response. I should've posted a simpler example but both progressImage and imageCompletion return an image.

I tested the issue with just the single completion block and the issue still persists.

[code]

[2016-10-25 18:13] vvit opened #66 "Wrong version in .podspec file for v3.0"
It seems it's not possible to install the version 3 via cocoapods?
The [.podspec](https://github.com/MailOnline/ImageViewer/blob/3.0/ImageViewer.podspec) of v3 points to v2.0.

I also used this line:
`pod 'ImageViewer', :git => 'git@github.com:MailOnline/ImageViewer.git', :tag => '3.0'` or
`pod 'ImageViewer', :git => 'git@github.com:MailOnline/ImageViewer.git', :commit => 'f887383cc4fc32374f409632

[2016-10-26 22:45] Krisiacik commented on #59
If you use a different image provider - assets library/ google images/ whatever.., does the issue presist?

[2016-10-31 16:43] zfoltin commented on #66
@RuiAAPeres can you 🔨 this?

[2016-10-31 16:55] ealeksandrov commented on #66
[code]

That's because in podspec `s.source_files  = "ImageViewer/Source/**/*"` and `GalleryViewController.swift` was stored above this path - in `"ImageViewer/"`. This was fixed during swift 3 migration - c456b4111c6ad0a2047178f62fe41bf5dff3aacf. Ad I'm not sure is it even possible to fix swift 2.3 version without rewriting the history.

I think I'll just create a fork with temp fix while I'm on

[2016-10-31 17:04] zfoltin commented on #66
@ealeksandrov we can branch out for 2.3 with the fix. Please create a PR once you have it and I'm sure @RuiAAPeres will look into pushing it to CocoaPods

[2016-10-31 17:34] ealeksandrov commented on #66
Got it working. Can't create PR for the branch that don't exist here yet, so just linking: https://github.com/ealeksandrov/ImageViewer/tree/swift-2.3

Anyone can use it immediately by adding this line in `Podfile`:
[code]

[2016-10-31 17:41] zfoltin commented on #66
https://github.com/MailOnline/ImageViewer/tree/swift-2.3

[2016-10-31 17:49] ealeksandrov commented on #66
Thanks, here you are - #67

[2016-10-31 17:52] Krisiacik commented on #66
I don't have access to cocoa pods.

[2016-10-31 18:36] zfoltin commented on #66
Yeah, it's only @RuiAAPeres who has the power 💪 💥

[2016-10-31 19:12] ealeksandrov commented on #66
Thanks for merging all stuff. Now we can get it working with:

[code]

Tested on my project, working fine. Last step will be `pod trunk push`.

[2016-11-01 03:53] antwerpenR opened #68 "How to add a button in header or footer view?"
Thanks for a super framework - I am stuck on how to add a button as the footer to allow me to fetch a hi-res version of the photo on the screen.  I have followed the example of CounterView and I can make the button appear as a Decoaration (footerView) but it is not clickable.  Could you pls post a snippet or explanation of how to do this - thanks

[2016-11-01 10:22] antwerpenR commented on #68
OK - the problem was easier to solve than I thought!  I was trying to over-complicate things.  I can simply add a GestureRecognizer to the footerView and work with that.  No need to embed buttons in the footer itself.

[2016-11-01 10:22] #68 closed

[2016-11-01 17:10] ealeksandrov opened #69 "Spinner"
Hey, I see some config items for spinner customization, but don't actually see it in my application. More than that - I can't find any code related to `UIActivity` or spinner config items.

[2016-11-01 17:34] ealeksandrov opened #70 "Log for VideoScrubber"
I always see
[code]
on ImageViewer dismissing. Even when there are no videos in gallery. This is too verbose/unneeded log for me and most of users.

[2016-11-01 17:37] ealeksandrov opened #71 "Improve README"
I see verbose log of version changes and no instructions for quick start.

I propose moving changelog to `CHANGELOG.md` and adding quick start section with minimal instructions and delegate example for mix of local and remote images.

[2016-11-03 11:46] Krisiacik commented on #71
With exception of verbose intro, which we are going to keep, PR with much improved instructions is very welcome.

[2016-11-03 11:46] Krisiacik commented on #70
PR is welcome.

[2016-11-03 11:47] Krisiacik commented on #69
The spinner got unintentionaly orphaned in the process ..So PR is welcome to bring it back fully.

[2016-11-04 09:26] antwerpenR opened #72 "How to force reloading of an image to get the (just downloaded) larger version?"
Absolutely love ImageViewer!

I have put a gesture recogniser on the footerView to "Fetch a High Res Copy and Save to Camera Roll"....works fine..

..how can I force the page/gallery to reload the image so that it will pick up the larger version of the image for display?

[2016-11-04 10:12] Krisiacik commented on #72
Thanks for the love :)
Reloading images is not possible at the moment I am afraid. Hm..hm..we would have to implement this.

[2016-11-04 10:15] antwerpenR commented on #72
Hi!  Pity...if you can give any hints as to where/how might be the right place to do it - I might give it a do in my fork.  I am learning SOOOO much by reading your code!

[2016-11-08 23:30] bennichols opened #73 "Reverse presentation animation?"
Hi, I'm wondering if there is a way to reverse the initial animation that opens up the viewer. I have an image that grows nicely onto the screen, and I'd like the dismiss animation to reverse that and shrink the image down to its original location. Is this possible?

[2016-11-09 14:32] Krisiacik commented on #73
It is exactly what happens when you press the close button.

[2016-11-09 18:10] bennichols commented on #73
I'm not seeing that behavior. When I hit the close button, the blur fades out and the old screen just pops into view. Maybe I'm not using it correctly? I'm basing off the example using the default configuration for the GalleryViewController.

[2016-11-10 14:25] ChrisGriffiths commented on #70
#74

[2016-11-10 16:00] ealeksandrov commented on #70
Thanks! :)

[2016-11-10 16:00] #70 closed

[2016-11-11 12:14] IvoPintodaSilva opened #75 "Image does not displace from parent view"
I'm facing a problem with the image viewer using the following configuration:

[code]

When I press the close button, I want my image to be displaced into its original position of the parent view. However, this is not happening. The image viewer simply closes and shows the parent view abruptly without any kind of animation.

I have disabled fade and blur on purpose to show only the image displacem

[2016-11-11 12:17] IvoPintodaSilva commented on #75
Seems to be the same as issue #73.

You can close this one and I'll leave my comment there.

[2016-11-11 12:18] IvoPintodaSilva commented on #73
I'm facing the same problem using the following configuration:

[code]

When I press the close button, I want my image to be displaced into its original position of the parent view. However, this is not happening. The image viewer simply closes and shows the parent view abruptly without any kind of animation.

I have disabled fade and blur on purpose to show only the image displacement when closin

[2016-11-11 12:29] #75 closed

[2016-11-11 21:24] IvoPintodaSilva commented on #73
Figured it out.

You need to implement the GalleryDisplacedViewsDatasource protocol in order to get the view into which the displacing is supposed finish.

You can see it in an example I created in my fork of the repo: https://github.com/IvoPintodaSilva/ImageViewer/tree/master/MyExample

Great library, however, this could be better documented :)

Keep up with the good work!

[2016-11-11 22:29] Krisiacik commented on #73
I don't know what these Open Source authors think. They hastily write code and then fail to properly document it.

Oh wait. It was me. :)
Well, happy to see you having resolved the problem. I'l keep in mind improvements in documentation have high priority.

[2016-11-11 22:29] #73 closed

[2016-11-11 22:30] #66 closed

[2016-11-12 08:32] zfoltin commented on #71
We should also update the demo in https://github.com/MailOnline/ImageViewer/blob/master/Documentation/gallery.gif and show it in the readme. Let's see if I find the time before Christmas 🎅 🎄

[2016-11-12 10:56] Krisiacik commented on #61
This is now implemented. For now, it's part of master branch.

[2016-11-12 10:56] Krisiacik commented on #47
This is now implemented. For now, it's part of master branch.

[2016-11-12 12:40] zfoltin commented on #56
Hey @ivanbruel & @twalenciak

ImageViewer changed a lot in v3.0. Now there is only the `GalleryViewController` where you provide `GalleryItem`s through a DataSource. A `GalleryItem` is either an image or a video at the moment.

I'm thinking if you create an extension on `AnimatedImageView` and `FLAnimatedImage` to conform to our `ItemView` protocol and return these views from your data source dele

[2016-11-12 12:51] zfoltin commented on #59
Hey @osolano

I'm trying to resolve this issue and have a few questions for you.
Are you still experiencing this issue? Are you using the latest v4.0 version of ImageViewer?
I'm not familiar with `PINRemoteImageManager` which library is it?

I'm not sure, but my suspicion is that PINRemoteImageManager's completion might be called on a background thread. Can you try to wrap the `imageProcessingBloc

[2016-11-12 12:52] #61 closed

[2016-11-12 12:52] #47 closed

[2016-11-12 14:03] #59 closed

[2016-11-12 15:37] #72 closed

[2016-11-12 16:21] zfoltin commented on #56
Ok, looking at the issue a bit closer, I've implemented a way to add custom ViewControllers to the gallery - this view controller can then work with a custom view
See the commit https://github.com/zfoltin/ImageViewer/commit/9eb10c16f3953eefdc6576147a2ca60c44bbd0a5
Particularly the bottom of Example/ViewController.swift shows how to integrate something like AnimatedImageView or FLAnimatedImageView

[2016-11-12 20:40] ealeksandrov opened #78 "Versioning"
Why 2-part version numbers are used? Why not classic [semantic versioning](http://semver.org)?

If there is no apparent reason to keep it - I suggest using full `MAJOR.MINOR.PATCH` in future releases:

`MAJOR` - breaking API change
`MINOR` - new features added
`PATCH` - bugfixes without breaking any public API

[2016-11-12 20:41] ealeksandrov commented on #78
Looking at current version 4.0 - I'm not sure, if I should add it as `'~> 4.0'` to Podfile. Will 4.1 have any breaking change? Unknown. But I still want bugfixes - so I have to check changelog manually on each release.

[2016-11-12 21:13] ealeksandrov commented on #71
@Krisiacik I am ok with verbose feature description, but it should be more compact and concise, without mentioning differences between versions - that's work for `changelog` :)

First iteration of improvements PR'd. Now don't forget to add `changelog` entries for any new features or bugfixes. I have an idea of adding [Danger](https://github.com/danger/danger) support to verify PRs, maybe in a futu

[2016-11-12 21:16] ealeksandrov commented on #71
Especially I liked how it supports whatever cache and networking stack you want for async image loading. I think it deserves highlight and couple of examples in `Readme`.

[2016-11-13 10:31] zfoltin commented on #78
We do use semantic versioning (kinda) with the caveat that zero patch numbers are left out for clarity. We try to release something when it's stable enough and won't require a patch. Obviously there can be bugs and issues but by the time they get discovered (and fixed) we might already have other changes that are waiting for release which will warrant a new minor version increase anyway.
See https

[2016-11-13 20:34] ealeksandrov commented on #78
Awesome idea but nobody achieved it yet :)

I hear you. But from my experience sometimes after major release (lets say 2.1.0) bug reports are starting to come in and 2.1.1/2.1.2/... are needed to quickly fix bugs introduced.
So as a developer I am adding `~> 2.1.0` and I can be 99% sure that any updates will not break anything but only improve stability.

As an example of violation - https://githu

[2016-11-14 08:28] zfoltin commented on #71
Thanks for the `CHANGELOG` PR @ealeksandrov 👌 every little helps 👍
Danger would probably be an overkill at this point but will remember it when the need arise

Good point that we need to highlight the flexibility, configurability and extensibility of the library. Those are areas where it is particularly strong. Will try and improve the `README` on this front before 4.1 (4.1.0 😃) goes out.

[2016-11-14 08:39] zfoltin commented on #78
Absolutely agree in terms of changing the major version number on breaking changes. It's just to me, changes in the patch version number VS changes in the minor version number doesn't make any difference from the consumer's perspective. When either changes I will assume no breaking changes, that's all. Probably when the minor version number changes then more people will go and look at the `CHANGEL

[2016-11-14 14:03] rafalkitta opened #81 "launchedCompletion block never executed"
Seems to ```launchedCompletion``` block is never executed.

[2016-11-14 14:51] #81 closed

[2016-11-14 15:54] IvoPintodaSilva opened #83 "Fullscreen gallery on not fullscreen modal view controller"
Hey guys!

I've been using your lib a lot and I ran into a small issue (for my purposes).
I want to display the gallery from a not-fullscreen modal view controller. However, when I tried to do this, the blur view only covered that same view controller and left the rest of the screen visible.

I found out that it was happening because the blur view is being added to the parent view controller, so i

[2016-11-14 17:16] zfoltin commented on #83
Hey @IvoPintodaSilva, your suggestion sounds sensible to me, PRs are more than welcome! 👍

[2016-11-14 18:15] ealeksandrov opened #84 "Builtin close button assets missing"
[code]
Podspec doesn't add any assets. When I manually copied them from demo project it worked.

Idea - maybe draw it programmatically instead of using images?

[2016-11-15 09:37] IvoPintodaSilva commented on #83
Opened PR #85 :)

[2016-11-15 10:14] rafalkitta commented on #69
Added PR #86  related to this issue.

[2016-11-15 10:21] zfoltin commented on #83
Fixed by https://github.com/MailOnline/ImageViewer/pull/85
Thanks @IvoPintodaSilva 👍

[2016-11-15 10:21] #83 closed

[2016-11-15 10:28] zfoltin commented on #84
Yeah, that bit is something we are not quite happy with. It's not nice to force people to add assets with a strictly given name either. Drawing a default close/closeHighlighted image programmatically would be a great improvement. We should also make `GalleryViewController.closeButton` open so people can override and use their own close button if they wanted.

Wanna do it @ealeksandrov ? :)

[2016-11-15 10:58] #69 closed

[2016-11-15 23:36] Krisiacik commented on #84
Let's make buttons great again.
My plan was always to eventually end up with custom vector-based close button consisting of UIVisualEffectView masked by a cross CAlayer/UIView.
Anybody up for it?

[2016-11-16 01:12] ealeksandrov commented on #84
I'm in. Are you proposing UIVisualEffectView to add vibrancy effect?

[2016-11-16 09:41] Krisiacik commented on #84
@ealeksandrov yes :)

[2016-11-16 10:23] zfoltin commented on #56
Hopefully https://github.com/MailOnline/ImageViewer/pull/80 helps if you need a custom GalleryItem. Closing for now but hoping to get some feedback @ivanbruel and @twalenciak if you find the time :)

[2016-11-16 10:23] #56 closed

[2016-11-16 14:27] Krisiacik commented on #84
Although I have not validated it via some prototype..It might not work well visually. So do it only if you don't mind the effort.

[2016-11-18 12:02] ealymbaev opened #88 "Displacement view and swipe to dismiss"
Hey, first of all, great library and also being developed rapidly.

Here is a little question. I am using displacement views and if I close the gallery by tapping on close button - the gallery is closed correctly and the image is animated back to displaced view.

BUT if I close the gallery with swipe gesture - it is simply going out of the screen without returning to displaced view.

Any fix for t

[2016-11-18 12:24] Krisiacik commented on #88
Hi thanks for the love :),

I will probably dissapoint you on that one.

I made a deliberate decision to not even try to do that, because of strong opininions on such a UX as such a transition looks wibbly-wobbly to me.

Also it would not be a trivial task to transition from interactive animation to animated transition that uses a nonlinear path.

[2016-11-18 12:29] ealymbaev commented on #88
Our very first goal is to make a great UX, you are right. But iOS users are used to default applications. And if we look into default Photos app - it has such a transition.

I have been researching for image viewer libraries before I stooped at yours, and some of them offered such a transition. Maybe you could have a glance at their implementation and get some inspiration?

[2016-11-19 22:09] dasmer commented on #84
Looking forward to seeing this. The close button image does not show up using carthage either

[2016-11-22 11:51] Luca9307 opened #89 "Youtube Video Support!"
Hello,
Is possible to play youtube video in the gallery?
Thanks in advance

[2016-11-23 14:12] ealeksandrov commented on #84
PR: #90
No vibrancy for now, don't see a clean way to connect button with blurred background in current structure. It can be added in future iterations.

[2016-11-23 14:45] #84 closed

[2016-11-23 14:46] Krisiacik commented on #88
It would require nontrivial amount of time to implement this...which we currently do not have really..
So PRs are welcome.

[2016-11-24 15:18] antwerpenR commented on #72
Thanks - works fine for me!

[2016-11-26 04:53] Dharin-shah opened #92 "How can I use this library to just show a single image on a button click?"
The Documentation is Nowhere to be found. I dont want to show a gallery of images, just a single image.

[2016-11-30 11:34] Krisiacik commented on #92
Provide a single one. It's up to you how many image you provide.

[2016-11-30 11:35] Krisiacik commented on #89
Hi. Not possible for now.

[2016-11-30 16:51] #89 closed

[2016-11-30 16:51] #92 closed

[2016-11-30 17:01] #88 closed

[2016-11-30 17:03] #71 closed

[2016-12-02 14:33] Luccifer opened #93 "Async Image loading"
Hello!
I am trying to show a very big (panorama) image in carusel and every time I swiping to this image it loads too long... The main thread is blocking by it, wondering about using this pod with ASDK from Facebook, but may be any other solutions?

If I want to modyfy the UIImageView of this where should I "dig"?

Tnx anyway

Solved by using ASImageNode from ASDK(google it) replacing UIImageView

[2016-12-05 12:16] junaid04 opened #94 "Close button"
Close button is not showing

[2016-12-06 15:27] #94 closed

[2016-12-14 13:52] #93 closed

[2016-12-17 19:21] jesalgadom opened #96 "Zooming bug on some devices/images"
In some cases with some devices (i.e: iPhone 7plus simulator and image 7/7 of the example), the return from `AVMakeRectWithAspectRatioInsideRect` in `aspectFitContentSize:` has some decimals that makes this comparison to be false, provoking a bug when zooming in.

Using `floor()` for this comparison makes the trick. I already created the fix on my fork. Let me know if you agree and want me to crea

[2016-12-20 15:30] deermapper opened #97 "Remove image from gallery"
How is it possible to remove an image from the gallery using a "Delete Button" e.g. in the footer view similar to a "Close Button"?

[2016-12-27 22:13] Krisiacik commented on #97
This is not possible with the current codebase.

[2016-12-27 22:14] Krisiacik commented on #96
Sure...please bring it on! :)

[2017-01-02 18:16] #96 closed

[2017-01-06 18:53] humblehacker opened #100 "Typos"
I'm investigating using ImageViewer in our app, and I've submitted a PR with changes I need. I'm also working on further improvements. This is in no way a criticism of the good work you guys have done here, but as I've worked on ImageViewer I've found there to be quite a lot of typos in the code.  I'd like to clean them up in a separate PR, but only if the changes would be welcome here.  What do y

[2017-01-06 19:46] zfoltin commented on #100
Sure thing @humblehacker PRs are always welcome around here 👍

[2017-01-06 19:47] zfoltin commented on #100
...probably we should make that more clear in the readme...

[2017-01-06 20:05] humblehacker commented on #100
Thanks! One subjective change I'd like to make with this is to rename all identifiers containing `datasource` to `dataSource` which is the standard set by the frameworks (e.g. `UICollectionViewDataSource`).  This would require some corresponding file renames (e.g. `GalleryItemsDatasource.swift` becomes `GalleryItemsDataSource.swift`).  Let me know if you agree to this change as well before I take

[2017-01-07 00:01] Krisiacik commented on #100
Find 'em n destroy 'em.

Although it's an API breaking change, it's easy to accomodate.

[2017-01-11 08:27] zfoltin commented on #97
Reviving this due to https://github.com/MailOnline/ImageViewer/pull/101

[2017-01-11 09:00] #97 closed

[2017-01-11 11:52] ealymbaev opened #102 "Invalid orientation for videos in full screen"
Portrait videos are played in small frame (not full screen). They are played as if they were in landscape orientation.

[2017-01-12 13:21] jovanpreet opened #103 "Audio support"
Is there a way to play audio with custom galleryItem. Or are you planning for some update with audio support?

[2017-01-13 12:32] zfoltin commented on #103
Hi @jovanpreet

I can see two ways you could achieve audio playback in the gallery:

1. Implement the `landedPageAtIndexCompletion` callback where you can start / stop playing audio when the gallery arrives to a given page
2. If you want more control (eg: playback controls, extra/interactive visuals) then you can implement a custom `GalleryItem` which can provide its own ViewController (see the ex

[2017-01-13 12:33] zfoltin commented on #102
Hey @ealeksandrov can you provide a sample video file which causes the issue?

[2017-01-16 08:38] ealymbaev commented on #102
https://cdn.grouvi.org/uploads/2DD82D72-1147-45D1-BD52-334330FBD16D.mp4

[2017-01-18 14:33] MDittmann commented on #94
For me the close button is not showing up too. Any idea what I'm doing wrong ? I use ImageViewer as a pod.

[2017-01-18 17:16] demon9733 opened #105 "Thumbnail mode"
Is there a way to open in thumbnail (gallery) mode initially?
ThumbnailViewController is not an open class for now..

[2017-01-18 17:35] zfoltin commented on #94
Sorry @MDittmann the pod version is a bit old.
The close button should be there in the pod version but the image on the button is tied to hardcoded image names (`close_highlighted` and `close_normal`). See https://github.com/MailOnline/ImageViewer/blob/4.0/ImageViewer/Source/Extensions/UIButton.swift#L98

Waiting for @RuiAAPeres to release a new version to Cocoapods as only he has access to it atm

[2017-01-18 17:39] zfoltin commented on #105
As you pointed out ThumbnailsViewController is not open atm. Can't see why we couldn't make it open. Feel free to submit a PR with the change 👍

[2017-01-18 18:12] zfoltin commented on #102
Hey @ealymbaev hopefully it's now fixed in `master` (see: https://github.com/MailOnline/ImageViewer/commit/65a0a235bafd2a0b2212c86fd92f23fc4be5b5b2)

Let me know

[2017-01-19 15:30] Krisiacik commented on #102
Good Job @zfoltin 🤛

[2017-01-19 16:06] demon9733 commented on #105
It didn't quite help actually. ThumbnailViewController initially doesn't have a selector for opening (tapping) a cell.
So the only way is to init GalleryViewController first. But I still haven't achieved a stable work and desired behaviour :(

[2017-01-21 11:06] zfoltin commented on #105
I don't quite understand the problem. If ThumbnailsViewController was `open` you could create and present one like we do from `GalleryViewController` (see https://github.com/MailOnline/ImageViewer/blob/master/ImageViewer/Source/GalleryViewController.swift#L397) where you can also set up the `onItemSelected` callback

Does this help?

[2017-01-22 21:46] Krisiacik commented on #105
I suspect the issue is
open(visually) != open(acces level)

[2017-01-23 04:17] ealymbaev opened #106 "Autoplay videos when opened"
I need an ability to start playing videos immediately when they are opened.

[2017-01-23 04:49] ealymbaev commented on #102
@zfoltin portrait video size is fixed when being played. BUT initial thumbnail is wrong.

Let me explain. I am using displaced views for opening videos with animation. When the video id opened from displaced view - it has wrong size in full screen. And when I press play button - the size is changed to correct one an the video is played.

[2017-01-24 17:21] FWEugene opened #107 "Mess with tags"
tag 4.0 is different from what is on `master` branch.

[2017-01-24 19:29] zfoltin commented on #102
@ealymbaev Do you have the same dimensions / aspect ratio for the preview Image as the video?

I've replaced this line https://github.com/MailOnline/ImageViewer/blob/master/Example/ViewController.swift#L45

with this:
[code]

and it seems to look / work ok.

[2017-01-24 20:03] zfoltin commented on #107
What's the issue there @FWEugene?

[2017-01-24 20:08] zfoltin commented on #106
PRs are more than welcome! 👍 I'd suggest adding a new `GalleryConfigurationItem`

[2017-01-25 07:47] ealymbaev commented on #102
@zfoltin

No, my displaced view has "Aspect Fill" ratio.

When images are opened - it works correctly, but not for videos.

[2017-01-25 08:27] ealymbaev commented on #102
@zfoltin

And also if the video is smaller than the screen size - it is not stretched up to the screen size, but centered. Can we have a setting for this?

[2017-01-25 08:52] zfoltin commented on #102
@ealymbaev The video player size is determined using the orientation of the image you provide in the `fetchPreviewImageBlock`. Ideally for landscape videos you'd want to use landscape preview images and for portrait videos you'd need to provide a portrait image.

I really want to help but it's not entirely clear to me what you are experiencing. Can you share the preview image you are using with th

[2017-01-25 09:02] ealymbaev commented on #102
@zfoltin Here is video demo of the bug:

https://cdn.grouvi.org/uploads/34031273-040d-4128-acd8-8443df10b3e0.mp4

And btw - my video thumbnails (that are used in fetch preview image block) are exactly same sized as the videos.

And for the second issue - you can try any small sized video.

[2017-01-25 09:10] FWEugene commented on #107
Wrong repository/branch cloned, when installing repostory via cocoapods with tag 4.0

[2017-01-25 12:10] Krisiacik commented on #106
I was wondering what can be more than welcome.
Very welcome? 🤔

 😉

[2017-01-26 10:04] Krisiacik commented on #103
That would be  nice addition. I am strongly in favour of having that as distinct gallery item.

[2017-01-31 06:03] jovanpreet commented on #103
Currently i am busy. I would love to do that and might do when my app gets published.

[2017-01-31 18:14] winkelsdorf opened #108 "Rotation issue when closing in landscape mode"
`ImageViewer` does not handle common device rotation correctly when being closed.

**Steps to reproduce**
- Adjust Demo to allow Landscape Orientation
<img width="412" alt="screenshot 2017-01-31 19 05 33" src="https://cloud.githubusercontent.com/assets/1413291/22477946/46ae3ba8-e7e8-11e6-893f-a7a37f88610a.png">

- Launch Device in Portrait (e.g. iPhone 6+, iOS 9)
- Tap on Image
- Rotate Device
- C

[2017-02-04 09:09] #105 closed

[2017-02-04 09:10] zfoltin commented on #108
Excellent bug report @winkelsdorf
Will try to look into it ASAP

[2017-02-04 20:06] winkelsdorf commented on #108
@zfoltin You're welcome, thanks having a look into!

[2017-02-06 13:36] antonkiselev opened #110 "Can't close viewer with gesture while image is loading"
If user has poor network connection and fetchImageBlock takes quite some time to complete, it is impossible co close viewer with gesture due to

[code]

Could you please make this behaviour optional?

Would really appreciate if you pushed it to master branch asap.

[2017-02-07 10:08] winkelsdorf commented on #108
I don't understand the complicated rotation handling implemented in `ImageViewer` yet, but I can imagine it's needed for cases where your applications usually run in portrait-only mode and you would like to override this for the `ImageViewer` while allowing to revert back to the previous displacement items.

Probably this would have been easier alongside using `open override var supportedInterface

[2017-02-08 15:24] Ricardo1980 opened #113 "Is it possible to load images from network and use an activity view?"
Hello!

Is it possible to use this component when I only have a set of URLs rather the UIImage objects?

Perhaps
https://github.com/MailOnline/ImageViewer/blob/master/ImageViewer/Source/GalleryItem.swift
Using  GalleryItem, custom enumeration

But, in that case, how should I add an activity view while the image is downloaded?
Can I combine this library with:
https://github.com/rs/SDWebImage
and us

[2017-02-08 15:33] Ricardo1980 commented on #113
I see we have
    case spinnerStyle(UIActivityIndicatorViewStyle)
    case spinnerColor(UIColor)
but, how do we connect that with a network request?

[2017-02-08 18:58] miex0r opened #114 "seeAllCloseLayout not set properly"
Forgot to paste
`case .seeAllCloseLayout(let layout):                seeAllCloseLayout = layout`

into GalleryViewController to use the new layout.

[2017-02-09 17:40] antonkiselev commented on #113
If you are using kingfisher check code sample below, using requests instead of image manager should be pretty similar
[code]

[2017-02-10 00:28] Ricardo1980 commented on #113
Thanks, I already got that using sdWebImage.

I guess when using a network request we should not use the displacement view (a thumbnail of the imag is about to be downloaded).
Basically because the UX would be very bad.
What do you think.

[2017-02-10 13:42] antonkiselev commented on #113
I am providing displacement view all the time, but when image is not yet loaded ImageViewer won't use it for displacement view and appears without displacement animation, which is kinda bugged due to applying opacity to UIVisualEffectView, but i hope they will fix that in future.
And most of the time you should have 2 different urls, one for small image in your controller and another one for fulls

[2017-02-10 13:46] Krisiacik commented on #113
The situation is getting a bit out of hand.
ImageViewer cannot function properly (concentually & from UX point of view )  if images are not available, and having an asychronous source means they are not available.
Guys pls do not merge anything unless it is properly considered in terms of future product evolution.

[2017-02-10 13:54] Ricardo1980 commented on #113
@Krisiacik it is very common to have thumbnails (small pictures) and when you tap them, go to the viewer and download a high resolution version of those thumbnails.

[2017-02-13 23:52] Krisiacik commented on #113
@Ricardo1980 isn't that exactly what ImageViewer is doing from the start?
I think we did not understand each other in terms of who actually means what.
So to recap - I am ok with the idea of having async full image..that's why we have implemented it.
However, I don't se much point supporting async thumbnails.
What kind of UX would that be? Yuo would tapping on (best case) placeholder image or noth

[2017-02-16 23:18] ojacevedo opened #115 "Could you add a method and/or setting to zoom to aspect fill, same as double tap?"
Example that is not possible with an extension because of protection level:

ItemBaseController {
    public func zoomAspectFill(centerPoint: CGPoint = CGPoint.zero) {

        let aspectFillScale = aspectFillZoomScale(forBoundingSize: scrollView.bounds.size, contentSize: itemView.bounds.size)

        if (scrollView.zoomScale == 1.0 || scrollView.zoomScale > aspectFillScale) {

            let zo

[2017-02-17 20:39] pbenkoe opened #117 "Close button not showing"
I want to show a single image with the code below, but the close button is not showing up. The rest is working perfectly though, image shows up and i can dismiss with the swipe gesture...

[code]

[2017-02-27 15:43] juarezjaramillo commented on #117
I have the same problem, and the configuration `GalleryConfigurationItem.toggleDecorationViewsBySingleTap(true),` no longer exists.

[2017-03-14 10:57] damienissa commented on #102
Hi I have the same problem. Do you have solutions?

[2017-03-15 12:48] leacode opened #121 "Need a fetchVideoBlock"
Can you provide a fetchVideoBlock. Sometimes loading video progress is needed. Another problem is when I swipe to close the view  it crashes. Log is here:

An instance 0x1700139a0 of class AVPlayer was deallocated while key value observers were still registered with it. Current observation info: <NSKeyValueObservationInfo 0x1704359e0> (
<NSKeyValueObservance 0x17045dbe0: Observer: 0x137daf5e0, Key

[2017-03-16 09:56] oxozle commented on #106
Autoplay video PR https://github.com/MailOnline/ImageViewer/pull/120

[2017-03-16 09:57] oxozle commented on #121
You can use my solution to this crash from this PR https://github.com/MailOnline/ImageViewer/pull/120

[2017-03-24 04:05] coreywiley commented on #117
See [94](https://github.com/MailOnline/ImageViewer/issues/94). Pod needs updating. Maybe open an issue to update the pod?

[2017-03-27 13:44] chiragshenoy opened #123 "Can this be used along with tableviewcells ? Like a chat interface where images are being loaded using network calls ?"

[2017-03-27 14:49] RuiAAPeres commented on #123
Yes, if you use a `UIViewController` inside your cells (we wouldn't recommend this).

[2017-03-27 16:14] #123 closed

[2017-03-29 11:30] FlowBo opened #124 "Pods Use of undeclared type Issues"
Hello,
I added the ImageViewer via pods to my project and tried to make use of the Github Swift Example Code. When I try to build I always get these errors:

Use of undeclared type 'GalleryDisplacedViewsDataSource'
Use of undeclared type 'GalleryItemsDataSource'
Use of undeclared type 'GalleryItemsDelegate'
Use of undeclared type 'ItemBaseController'
Use of undeclared type 'ItemViewControllerBlock

[2017-03-30 05:13] ed-mejia opened #125 "How can I use this library to just show a single image"
related to issue #92 ...

If you provide itemCount 1, the library allows you to swipe right left anyway and keep asking the datasourse for the next/ previous item making impossible to actually display a single element.

Any ideas?

[2017-03-31 17:47] mikengyn commented on #125
you can set the `swipeToDismissMode` to `always`.

[2017-04-04 05:42] ishandini opened #126 "Disable left scrolling"
I'm trying to disable left direction scroll. I couldn't find any solution with UIPageViewController. any suggestions?

[2017-04-05 13:57] Nonepse commented on #110
I am facing the same issue :(

[2017-04-05 13:57] Ricardo1980 commented on #110
Same problem here

[2017-04-05 14:12] RuiAAPeres commented on #110
Is there a PR for this behaviour?

[2017-04-06 07:25] ed-mejia commented on #125
Thanks @mikengyn 👍

[2017-04-06 07:25] #125 closed

[2017-04-10 01:51] happiehappie opened #127 "M_PI is deprecated"
I have this compile warning with the latest version from cocoapods. Was wondering if this is in the radar. As I am not allowed to change framework codes in my organization.

[2017-04-10 03:36] happiehappie opened #128 "Missing GalleryConfigurationItem enum"
I tried to directly copy the configuration from the example project however the following enum cases are missing.
GalleryConfigurationItem.swipeToDismissMode(.vertical)
GalleryConfigurationItem.toggleDecorationViewsBySingleTap(false)
GalleryConfigurationItem.maximumZoomScale(8)

There are also some that are not in the example but is in the source file, example SeeAllCloseButtonMode

Tried pod upda

[2017-04-10 04:10] happiehappie opened #129 "See All Close Button mode not working"
I added `GalleryConfigurationItem.seeAllCloseButtonMode(.none)`
However the see all button is still showing.
I need the see all button to be hidden because my current use case only has 1 image.

[2017-04-10 04:42] happiehappie commented on #129
My bad, I fail to realize that button is thumbnailsButton, I keep thinking it is seeallclosebutton. Feel free to close this

[2017-04-10 06:24] #129 closed

[2017-04-10 06:58] happiehappie commented on #102
+1 for this issue, any updates?

[2017-04-12 05:25] ed-mejia commented on #110
+1

[2017-04-13 18:43] dars commented on #117
I have the same problem close button not showing, and use Carthage to install imageView not cocoapods (ver 4,0,0)
GalleryConfigurationItem swipeToDismissMode and toggleDecorationViewsBySingleTap have error showing has no member
please help me..

[2017-04-13 20:18] dars commented on #117
finally work around find the answer for now
when use Carthage to install, it's still download ver3.0
so I download latest file from GitHub and replace Carthage/Checkouts/ImageViewers folder files
then run carthage build ImageViewer (do not use carthage update)
it's fix the probleam, everything looks fine

[2017-04-17 15:34] antonkiselev commented on #110
Nope, i just forked it and fixed for myself, and also added custom loader instead of default one, and because it partly removed default loader styling I didn't make a pull request. Feel free to copy my repo, or check commits there.

Actually viewer has some major flaws like using gesture recognizers on each image view instead of one on the wrapper, not using presentation mechanics like UIPercentDr

[2017-04-25 12:31] #110 closed

[2017-04-28 18:54] ealeksandrov commented on #107
No releases for 6 months, 4.0 release is 70 commits behind from master :(
And not a single amend in CHANGELOG for 10+ latest accepted PRs :(

[2017-04-28 19:10] ealeksandrov commented on #78
Funny that this was closed. Looking back half of year later - seems that this library won't use any sort of versioning in any near future.

I have to cut this from connected Pods, include directly as a source, mark "legacy" and forget about using it in any future projects.
It can't be relied upon - no changelogs, no patch versions, no any sort of versions - nothing.

I tried to help with this proj

[2017-04-28 19:13] #108 closed

[2017-04-28 19:13] #127 closed

[2017-04-28 19:23] RuiAAPeres commented on #107
@ealeksandrov would you be ok if we make a 5.0 release?

[2017-04-28 19:24] ealeksandrov commented on #107
If you feel it's stable for release - that would be awesome. I can provide changelog/release notes PR for latest changes.

[2017-04-28 19:35] RuiAAPeres commented on #107
@ealeksandrov to my knowledge it is.

I feel it's important to give a bit of context because of the current state of affairs here. This library was created due to a necessity we had when both me, @Krisiacik and @zfoltin were working at MailOnline. On the meantime we went on our separated ways to different companies. Now the, unfortunate, thing is that none of us actually has the need of this libra

[2017-04-29 07:57] zfoltin commented on #107
That's right. A new release is looooong overdue as well as getting the readme and changelog in order. As @RuiAAPeres says, the core contributors don't use the lib day-to-day anymore and it's hard to find time maintaining something you don't actually use. Lucky we have a dedicated community around it to help.

I'll try to make some time tomorrow to look through what happened over the past months an

[2017-04-30 05:29] mamdouhweb opened #134 "Videos with no sound"
while running on phone (IPhone7) the video has no sound to it and getting this error back
[code]

however, in the simulator it's working perfectly. I ran the provided example to make sure that it's not caused by my backend, and the sound was also not there while running on Device.

Any help is really appreciated!

[2017-05-01 08:50] #106 closed

[2017-05-01 08:51] #113 closed

[2017-05-01 09:06] zfoltin commented on #114
👍 fixed

[2017-05-01 09:06] #114 closed

[2017-05-01 09:29] zfoltin commented on #115
Ideally it would be a configuration option ( a new `GalleryConfiguration` item). Currently the default behaviour is to `aspectFit` the items. A PR is are more than welcome!

[2017-05-01 09:34] zfoltin commented on #117
Hopefully this will be resolved with the 4.1.0 release

[2017-05-01 09:36] #121 closed

[2017-05-01 09:37] zfoltin commented on #124
Will release 4.1.0 soon which should solve this issue

[2017-05-01 09:39] zfoltin commented on #128
The Pod is out of date. With release 4.1.0 this issue should go away

[2017-05-01 10:08] zfoltin commented on #134
Haven't come across this issue. Can you check if your phone is not muted? And post a video which causes this issue?

[2017-05-01 14:45] #128 closed

[2017-05-01 14:45] #124 closed

[2017-05-01 14:46] #78 closed

[2017-05-01 14:46] #107 closed

[2017-05-01 14:46] #117 closed

[2017-05-01 14:56] zfoltin commented on #126
Not sure what your use-case is but you could probably open the ImageViewer on the first item then when the user swipes to the second item remove the first item in the `landedPageAtIndexCompletion` block. Would that work for you?

[2017-05-01 16:31] ealeksandrov commented on #107
Thanks a lot for your work!

[2017-05-01 17:40] seifeet commented on #124
I still have the same issue with"GalleryItemsDatasource"

Use of undeclared type 'GalleryItemsDatasource'

[2017-05-01 18:08] zfoltin commented on #107
No worries. Sorry it took us so long for a new release. There is plenty in it with a lot of great contributions. Thanks for helping out! 👍

[2017-05-02 03:33] ahmedomer opened #135 "Rotation Mode"
My iOS app only supports portrait interface orientation. However, when I tilt my phone to landscape, the gallery also rotates.

I tried setting `rotationMode` to `applicationBased` in GalleryConfigurationItem but that doesn't seem to work. All other configurations work but this one has no effect on the gallery.

[2017-05-02 05:43] zach-256 opened #136 "Video Issues"
Whenever I have a gallery of both locally stored images and video files,  I have two issues. Scrolling though the gallery becomes very laggy and "'NSInternalInconsistencyException', reason: 'An instance 0x17400d0c0 of class AVPlayer was deallocated while key value observers were still registered with it." pop up frequently, crashing the application. These issues don't arise when I only have images

[2017-05-18 06:57] siddharthadeb opened #137 "How to use in UItableview cell - DisplaceableView"
As I have two custom cell like chat app. when i added with DisplaceableView array . When I scroll its adding more and more same images in gallery . please help me out, Its very urgent.

[2017-05-18 08:19] Krisiacik commented on #137
Where is the chat UI getting the images? What is the data source for that? Use the same data source for ImageViewer.

DS ---> ChatUI
      --->  ImageViewer

From what I understand you are somehow passing the data (images) from the chatUI..which is incorrect. IF you want mroe help pls be much more specific incl. code samples.

[2017-05-18 08:30] smartsidd commented on #137
I am adding in cell row index method as imageview - please check
senderCell?.senderFile?.image = **image**
                                        self.**imageViews**.append((senderCell?.senderFile)!)
                                        let tap = UITapGestureRecognizer(target: self, action: #selector(self.handleTap(_:)))
                                        tap.delegate = self

[2017-05-24 06:37] seieibob opened #138 "Wrong image shows when opening images with identical filenames in different directories"
I have an app for reading comic books, where the images for each chapter are stored in their own folders. The images are typically numbered, so most directories will have a "1.jpg" or something similar as the first file. When you get done reading a few chapters, the images shown in the image viewer start to show images from other chapters, and the problem seems to be name similarity.

Here's a tes

[2017-05-24 07:43] Krisiacik commented on #138
Hi,

I don't think this should be solved on our side.(i.e. inside the framework) You could implement a mapping solution..something that will pick the right file on your side and provide the imageviewer model object on viewer's side.

[2017-05-24 14:09] seieibob commented on #138
That's the thing, though. The imageviewer is already being fed separate GalleryItem instances with different UIImage data, and the problem persists. I'll put together an example for you to try out.

Something I forgot to mention is that this only happens on the device, and not on the simulator.

[2017-05-24 15:56] seieibob commented on #138
I've made a test example at https://github.com/seieibob/ImageViewerTest.

[2017-05-27 16:47] seieibob opened #139 "Memory usage climbs indefinitely for large collections"
When using ImageViewer on a large collection of images, each loaded image seems to allocate and then stay in memory. Eventually, this leads to a crash. I suspect this is related to the problems I'm having with #138.

Barring a fix, is there any way to manually deallocate the images that ImageViewer has?

Thank you!

[2017-05-28 09:52] LucaIaconelli opened #140 "Video Problem"
Hello,

When a video finishes playback and the play button is pressed again, the video does not restart.

Is possible to fix that?

Thanks you very much

[2017-05-29 21:36] seieibob commented on #138
I "fixed" this on my end by tacking a random string to the end of every file's name to ensure uniqueness. This doesn't solve the root problem, and is only a useful approach when working with copies of files, though. My app unpacks archives to a folder and reads the images from that folder, so it's okay to modify those file names, but I imagine that it isn't a good idea to do this with non-temporar

[2017-05-31 20:05] seieibob commented on #138
I'm dumb. The issue is the difference between `let image = UIImage(named: "path")` and `let image = UIImage(contentsOfFile: "path")`. The first looks for a cached image with the given name, and was what I was using. Since my app regenerates the same folder that all the images are unpacked into, the name of a new file might be the same as one of the old cached paths, yielding an old image. The solu

[2017-05-31 20:05] #138 closed

[2017-05-31 21:02] seieibob commented on #139
Fixing #138 fixed this problem.

[2017-05-31 21:02] #139 closed

[2017-06-05 12:10] Ricardo1980 opened #141 "Shouldn't the delegate and datasources be weak?"
I see this in the source code.

 // DATASOURCE/DELEGATE
    fileprivate let itemsDelegate: GalleryItemsDelegate?
    fileprivate let itemsDataSource: GalleryItemsDataSource
    fileprivate let pagingDataSource: GalleryPagingDataSource

Shouldn't they be weak?

[2017-06-13 02:13] hqs5678 commented on #124
The problem still exists with 4.1.0 !!!!

[2017-06-13 03:05] hqs5678 commented on #124
version 4.0 is ok
pod 'ImageViewer', '4.0'

[2017-06-13 08:24] zhaoyunyi opened #142 "deleteLayout is not userful"
souceCode :         layoutButton(deleteButton, layout: deleteLayout)

[2017-06-13 10:36] RuiAAPeres commented on #142
?

[2017-06-13 10:36] #142 closed

[2017-06-17 03:06] eyvallah opened #143 "additional buttons?"
for saving image or other functions?

[2017-06-19 13:56] Ricardo1980 opened #144 "Avoiding the activity view when using a displacedView and a network request"
Hello,

Right now, I am using displacedView and in:
public func provideGalleryItem(_ index: Int) -> GalleryItem {
I send a network request to get a higher resolution version.

The thing is, after the displacedView animation is completed, that image is removed, and a activity view is presented. After a couple of seconds, I see again the same image (with higher resolution).

Is it possible to avoid

[2017-06-19 14:35] Ricardo1980 commented on #143
That's very easy.
Just create a view adding your buttons there.
Then assign that view to your viewer doing something like:
 galleryViewController.footerView = galleryViewerFooterView

[2017-06-19 15:32] eyvallah commented on #143
thanks, it works like charm!

[2017-06-19 15:33] #143 closed

[2017-06-21 10:38] izhylenko commented on #144
I've faced with the same problem. And I've found some kind of workaround. Instead of commenting out the line:
`animatedImageView.removeFromSuperview()`

I've added one line to set an temp image to itemView, like that:
[code]
By doing this temp low resolution image from an animated source is set to itemView, after animating image is not gone and an activity indicator is displayed over this image. A

[2017-06-22 08:35] onato opened #145 "Animated GIF support"
I'd like to see support for animated GIFs.

[2017-06-22 09:04] RuiAAPeres commented on #145
@onato we are always happy to receive PR. :)

[2017-06-22 09:05] onato opened #146 "Add a UIProgressView"
It would be nice to be able to show a progress view when downloading an image.

A progress closure could perhaps be added to `GalleryItem.image`?

I'm doing the following at present…

[code]

Perhaps I'm overseeing and easier way too.

[2017-06-22 10:22] onato commented on #145
Sure, I could do that.

Do you have anything against adding a dependency? There are a few projects out there that would make it quite simple.

https://github.com/kaishin/Gifu
https://github.com/bahlo/SwiftGif

[2017-06-22 10:23] RuiAAPeres commented on #145
I would prefer the library to be agnostic of that. You can create a small protocol and work with that. And then the consumer make Gifu, or SwiftGif comply with that.

[2017-06-22 23:35] onato commented on #145
It turns out that there is no need for a PR. With SwiftGif it's super simple to implement from your `GalleryItemsDataSource`.

[code]

[2017-06-25 23:38] #145 closed

[2017-07-15 08:15] amirhosseinpy opened #147 "how to use this image viewer to view just an image, not a gallery"

[2017-07-25 06:06] iad24 opened #148 "Remove "See All""
I just want to show the X button at the top right and the image. No other buttons like "See All".
I could not find a property to hide this.

[2017-07-29 06:19] ra-mentukemen commented on #148
`let gvc = GalleryViewController(startIndex: 0, itemsDataSource: self, configuration: [ .thumbnailsButtonMode(.none)])`

`presentImageGallery(gvc)`

[2017-08-04 11:29] shamikagasc opened #149 "Add FLAnimatedImage support or Gif Image support"
It would be really great if you could add the ability to display gif images. Or even allow FLAnimated Image support

[2017-08-04 11:31] shamikagasc commented on #149
nvm saw https://github.com/MailOnline/ImageViewer/issues/145

[2017-08-04 11:31] #149 closed

[2017-08-05 23:44] #134 closed

[2017-08-08 04:42] bulolo opened #150 "swift 4 support"
swift 4 support

[2017-08-08 14:23] zfoltin commented on #150
PRs are welcome @bulolo

[2017-08-08 14:23] #150 closed

[2017-08-08 14:24] zfoltin commented on #148
@iad24 does `.thumbnailsButtonMode(.none)` solve your issue?

[2017-08-08 15:06] iad24 commented on #148
thanks @ra-mentukemen

[2017-08-08 15:06] iad24 commented on #148
@zfoltin yes

[2017-08-08 15:06] #148 closed

[2017-08-21 10:43] CeceXX opened #151 "Great library, thanks. How do I hide the "Delete" button from the gallery view?"
I haven't implemented the delegate method and the delete button has no use as of now.

Thank you!
~cesare

[2017-08-22 01:26] onato opened #152 "Change public to open."
I'm using Carthage, so the ImageViewer code is inside a framework. In `ItemBaseController.swift` many things are implicitly or explicitly only public, so I can't override or access them.

Is there any reason you wish to prevent overriding properties and methods in this class?

Specifically, I am overriding or accessing `fetchImage()`, `scrollView`, `itemView`, `activityIndicatorView`. In order to

[2017-08-28 11:07] amsibsam opened #153 "Remove 'see all button'"
hi is it posible to hide the 'see all' button ?

[2017-08-28 21:07] aadjemonkeyrock commented on #23
I'm implementing sharing, I've it all working with the points mentioned, but I get stuck on presenting the UIActivityViewController. I'm presenting this from the same ViewController as is presenting the GalleryViewController, but get the message 'attempt to present .... is already presenting. I need to present from the GalleryViewController, but I've no idea how to do this.

Does anyone have a com

[2017-09-09 09:49] davidloveengles commented on #153
I have this problem too.

[2017-09-09 10:40] zfoltin commented on #153
See https://github.com/MailOnline/ImageViewer/issues/148

[2017-09-11 18:21] piv199 commented on #151
@CeceXX pass configuration item:

`GalleryConfigurationItem.deleteButtonMode(.none)`

[2017-09-12 11:09] CeceXX commented on #151
Thanks so much!

[2017-09-12 11:09] #151 closed

[2017-09-13 23:53] velvedeer opened #154 "Swift 4 update?"
Is there any update for swift 4 planned? IOS 11 is coming out in 4 days.

[2017-09-20 01:17] BadReese commented on #144
@izhylenko

[2017-09-21 10:40] CeceXX opened #156 "Localize framework?"
I want to translate "See All" to my app lanugage. Is it possible?

[2017-09-24 08:20] springlo commented on #147
`let galleryItem = GalleryItem.image { $0(img) }
                self?.items.append( galleryItem)`

[2017-09-29 09:28] #154 closed

[2017-09-29 09:28] #153 closed

[2017-09-29 09:28] #147 closed

[2017-10-01 02:17] terrytz opened #159 "Type 'UIImageView' does not conform to protocol 'DisplaceableView'"
Did i do something wrong or is it compatibility issue with swift 4?

[2017-10-02 12:27] zfoltin commented on #159
@terrytz the Swift 4 related updates haven't been pushed to cocoapods (coming very soon). Are you pointing to the master branch of the repo in your podspec?

[2017-10-04 15:08] erngarcar opened #160 "Import in Objective C"
Hi, I'm trying import this library in a objective-c project, but I'm only able to get GalleryViewController, not a GalleryItem for example.
Could you tell me how to import this library in the correct way on a objective-c project?
Best regards.

[2017-10-04 16:13] yaddaa commented on #141
Really? I have memory problems when set myself as dataSource and keeping in memory

[2017-10-04 19:55] RuiAAPeres commented on #141
Hmm, this might have been a slight oversight when designing it, or there could be a good reason, anyway, @Ricardo1980 can you give it a spin in the demo project?

[2017-10-04 19:57] RuiAAPeres commented on #160
`GalleryItem` is an enum with associated types and in objc you can't use those:

![screen shot 2017-10-04 at 20 56 55](https://user-images.githubusercontent.com/949286/31196702-9aa5790e-a946-11e7-9dea-2f6828d173a0.png)

[2017-10-04 19:57] #160 closed

[2017-10-04 19:58] RuiAAPeres commented on #156
AFAIK no, we would have to allow the injection. 😞

[2017-10-04 19:59] RuiAAPeres commented on #152
I don't see a problem why not. Please send a PR.

[2017-10-04 20:03] RuiAAPeres commented on #102
Closing due to inactivity.

[2017-10-04 20:03] #102 closed

[2017-10-04 20:03] RuiAAPeres commented on #103
Any update on this @jovanpreet ?

[2017-10-04 20:03] RuiAAPeres commented on #126
Closing due to inactivity.

[2017-10-04 20:03] #126 closed

[2017-10-04 20:03] terrytz commented on #159
I wasn’t using cocoa pods , it was straight git clone from master

[2017-10-04 20:04] RuiAAPeres commented on #135
Closing due to inactivity.

[2017-10-04 20:04] #135 closed

[2017-10-04 20:04] RuiAAPeres commented on #136
Closing due to inactivity.

[2017-10-04 20:04] #136 closed

[2017-10-04 20:04] RuiAAPeres commented on #115
Closing due to inactivity. Please send a PR with the improvement. 👍

[2017-10-04 20:04] #115 closed

[2017-10-04 20:11] RuiAAPeres commented on #159
@terrytz can you show me what's your error?

[2017-10-04 21:04] terrytz commented on #159
I copied the code straight up from the example file, and got this error

<img width="786" alt="screen shot 2017-10-05 at 5 03 26 am" src="https://user-images.githubusercontent.com/3625602/31199631-a0753474-a91d-11e7-9bc2-ca598fe802b1.png">

[2017-10-05 04:55] jovanpreet commented on #103
@RuiAAPeres No I didn't use this library and created my own.

[2017-10-05 08:19] RuiAAPeres commented on #103
👍

[2017-10-05 08:19] #103 closed

[2017-10-05 11:24] #156 closed

[2017-10-05 11:25] RuiAAPeres commented on #156
@CeceXX just to be clear, I don't feel this would particularly difficult to achieve. If you could open an issue with a bit more detail, I could then create a PR.

[2017-10-05 11:30] CeceXX commented on #156
Hey Rui, thanks for the heads up. So basically I just wanted to know if it was possible to have all the text elements to be localized in my app language. E.g. have a few localizable strings (using NSLocalizableString). I'll comment again with more information.

[2017-10-13 12:18] thechaudharysab commented on #137
Hi I've a collection view in which I've an imageView in it's cell. How can I implement it so that when the didSelectItemAt is called it shows the image?

[2017-10-18 20:20] damiancesar opened #161 "`pod update` in order to use v5.0"
Upon initial installation, v4.0 is installed. Just wanted to point this out, not sure if the default should be v5.0.

Also, specifying the Pod version like so...

`pod 'ImageViewer', '>= 5.0'`

and running `pod install` lead to this error:

`None of your spec sources contain a spec satisfying the dependency: 'ImageViewer (>= 5.0)'`.

[2017-10-18 23:52] ELezov opened #162 "Change position of close button to left"
I can't find this.

Can I change position of button?

[2017-10-25 09:53] falcon11 opened #163 "Type 'NSAttributedStringKey' (aka 'NSString') has no member 'foregroundColor'"
upgrade to 5.0, compiler error:
1、Type 'AVLayerVideoGravity' (aka 'NSString') has no member 'resizeAspect'
2、Type 'NSAttributedStringKey' (aka 'NSString') has no member 'foregroundColor'

[2017-10-26 01:24] falcon11 commented on #163
Ok, I find the reason. It's swift version problem. I changed the swift language version to 4.0 then all things right.

[2017-10-26 01:24] #163 closed

[2017-10-26 10:25] zfoltin commented on #162
Take a look at the `closeLayout` configuration option https://github.com/MailOnline/ImageViewer/blob/master/ImageViewer/Source/GalleryConfiguration.swift#L34
https://github.com/MailOnline/ImageViewer/blob/master/ImageViewer/Source/LayoutEnums.swift#L16

Hope this helps

[2017-10-26 21:23] ELezov commented on #162
thanks a lot

[2017-10-26 21:24] #162 closed

[2017-10-30 14:29] joeljfischer opened #164 "iPhone X Support"
Hi, when using the default (no changes to configuration) with the iPhone X simulator, and some buttons at the top seem to be getting cut off by the notch. How could I mitigate this, or is there a fix coming? Does it need to be using the safe areas?

[2017-10-30 15:09] joeljfischer opened #165 "Setting status bar on seems to have a black status bar on black background"
iOS 11 simulator setting status bar on in the configuration `GalleryConfigurationItem.statusBarHidden(false)` seems to have a black status bar? I think it's actually on, but I can't really see it.

[2017-10-30 15:16] joeljfischer opened #166 "How to use header vs. footer"
I don't see any way to make the delete button, for example, to use the footer instead of the header. How do I set certain buttons in certain places (or everything in the footer, which is what I'd actually prefer)?

[2017-10-30 21:47] RuiAAPeres commented on #165
Is this a question or bug?

[2017-10-30 22:15] joeljfischer commented on #165
A bug. Setting the `statusBarHidden(false)` should have a visible status bar, but if it's black, making the status bar visible effectively does nothing.

[2017-10-31 13:21] olexth opened #167 "Disabling spinner (UIActivityIndicatorView)"
Hello!
First of all, thanks for such a great library!

QUESTION: I need to disable spinner by one of my events.
I created my custom VC and adding an instance of `GalleryViewController` in such manner:
[code]
What's the proper way to get currently used `UIActivityIndicator` to disable it when there is no internet connection?(indicator stays on screen and rotates infinitely)

Thanks in advance!

[2017-11-01 08:46] alexth commented on #167
So, currently I made this through view hierarchy, which is very ugly:

[code]

[2017-11-02 16:09] mol-audit-bot opened #168 "[repo-admin-team] Repo admin team(s)"
Please check repo admin team(s)

[2017-11-04 15:02] joeljfischer commented on #161
I'm guessing you needed to update your repo with `pod repo update`

[2017-11-10 16:53] zfoltin commented on #168
@nodinosaur can you do something about this ^^?

[2017-11-10 17:11] nodinosaur commented on #168
Should be resolved.

[2017-11-10 17:11] #168 closed

[2017-11-20 21:59] zfoltin commented on #164
Lovely flower @humblehacker :) The iPhone X's revolutionary new design is a PITA... Maybe the best would be just to offer a configuration option for `UIEdgeInsets` from the screen edge so then everyone can set whatever margin they fancy? The safe area margins do look a bit to much to me too.
@Krisiacik thoughts?

[2017-11-20 22:29] humblehacker commented on #164
It's already externally configurable via `GalleryConfiguration`, but I thought it would be nice if it worked out-of-the-box.

And I can't take credit for the flower - it's from the sample app 😄

[2017-11-20 22:53] zfoltin commented on #164
Lol. It's been a while I last run the sample 🤣 Also forgot about the config option... Guess using the safe area as a default is a safe default even if it makes things look a bit out of place

[2017-11-21 17:45] humblehacker commented on #164
So the extra top space also appeared when I ran on iOS 11 on a non-iPhone X.  I discovered that the top `safeAreaInsets` had an extra 20px of space - presumably to account for the status bar, which is of course hidden.  Seems like a bug, so I compensated for it as you can see in PR #169 .  With that compensation, the layouts are the same on iOS 10 and iOS 11 for the same device.  And it looks bett

[2017-11-22 18:46] #164 closed

[2017-11-27 09:52] FrancoisObob opened #172 "Placeholder image while image download"
Hi,
great job on this !
Simple question here : is there a way to display a placeholder image (or a spinner) while downloading GarryItem.image ?

thanks a lot

[2017-11-28 10:18] Krisiacik commented on #166
Hi Joel, there is no support for that at the moment. PRs welcome.

[2017-12-05 10:31] xieweizhi opened #174 "Require only app-extension-safe API issue."
When working with app extensions, need to set the pod `Require Only App-Extension-Safe API` to `No`.

But this will raise a warning `ld: warning: linking against a dylib which is not safe for use in application extensions`

I found a solution https://miqu.me/blog/2016/11/28/app-extensions-xcode-and-cocoapods-omg/

[2017-12-13 15:56] armandsLa opened #175 "Multiple issues"
There are multiple issues with this viewer:

- `deleteLayout` configuration is not implemented.
- multiple important functions are not made public, like `removePage` for example. There's no way to delete images without using default delete button, which can't be really customised, because `deleteLayout` is not implemented, i.e. autoresizing mask is not applied to custom button.
- `footerViewLayout

[2017-12-13 15:57] RuiAAPeres commented on #175
Hi @armandsLa. Thanks for creating this bug list. We do accept PRs. 👍

[2017-12-14 09:18] dongmai opened #176 "Can't use with SVProgressHUD"
Hi Team,

First I want to say 'thank you' for an awesome library.

I'm facing an issue that I can't make it to work with [SVProgressHUD](https://github.com/SVProgressHUD/SVProgressHUD) library, since I want to do some network requests and show loading to users.

To test that you just put SVProgressHUD.show() in GalleryViewController.viewDidAppear() (I create my own subclass of GalleryViewControlle

[2017-12-19 09:04] amrangry opened #177 "close button not displayed"
close button is not displayed

[2017-12-25 10:19] dekits26 opened #178 "How do I scroll to selected item"
I want to implement buttons (next, previous) for navigation. I realized it by delegate.
![screen shot 2017-12-25 at 12 03 47 pm](https://user-images.githubusercontent.com/12789005/34338000-deb8f7ae-e96c-11e7-8746-140fc7902ea1.png)

When I tap on button few times slowly, it work correctly, but when I do it fast, something happens
![screen shot 2017-12-25 at 12 05 32 pm](https://user-images.githubus

[2017-12-27 10:38] springlo commented on #159
[code]

[2017-12-27 11:27] #159 closed

[2018-01-15 12:19] pedrohls94 opened #179 "Can't play video"
I'm not being able to play videos presented on the gallery. When I click on play, the screen stays dark, the timer stays "--:--" and the progress bar does not move.

I'm using the same URL as the Example, for testing purposes. Implementation of delegate _provideGalleryItem_ is as follows:

[code]

[2018-01-15 17:38] jesusmartinoza commented on #179
The link you posted worked to me, the problem I'm facing it's with youtube URLs

[2018-01-17 14:17] pedrohls94 commented on #179
Still couldn't play the video from the URL provided in the example, but solved my problem with playing saved files.

My mistake was using `URL(string: filePath)` instead of `URL(fileURLWithPath: filePath)`.

[2018-01-28 16:29] santhoshs5 opened #180 "can I provide array of imageURLs instead of images?"
I have an array of image URLs which should get downloaded cached automatically. If I scroll fast it should cancel previous requests and provide current request.

is it supports ?

[2018-02-03 07:41] chenfengfeng opened #181 "How to get the current picture data?"
For example: I have 9 pictures,want to get the third picture of the data

[2018-02-05 07:12] aalenliang commented on #144
Same issue here, It's better if ImageViewer can keep my low resolution image when loading, replace it with the higher resolution image after it's downloaded.

[2018-02-14 02:33] hjackguo commented on #181
I want to know too.I have to save current photo but cannot get it.

[2018-02-19 09:59] JunsW commented on #180
The following is my experience.
ImageViewer uses the exactly same UIImageView you used or you set.
That means, ImageViewer will show the placeholder image first and then turn to the image asynchronously loaded from the server if you use something like "SDWebImage" set the UIImageView and do the following:
`let imageView = UIImageView()
imageView.sd_setImage(with: URL("http://Image.com"), placehold

[2018-02-21 13:24] fvisticot opened #182 "Is there any tutorial / information regarding objc usage ?"
I would like to use the library with objc ? any support ?

[2018-02-27 16:35] alexanderkhitev opened #183 "Is there any delegate method to find out when GalleryViewController willDisappear and didDisappear and also find out what was the last index?"
Hello! Thanks for great framework!

Is there any delegate method to find out when GalleryViewController willDisappear and didDisappear and also find out what was the last index? Thanks.

[2018-02-28 10:13] iad24 opened #184 "disable bounce"
Im using v4.1.0.

1. Possible to disable the horizontal scroll bounce?
Im actually using this as an image viewer for a single photo. It means that there will be always 1 photo that i will be feeding to GalleryViewController.

2. Possible to disable the swiping up and down to dismiss?

[2018-02-28 10:14] iad24 opened #185 "Custom overlays"
Im using v4.1.0.

Possible to put my own custom overlays or buttons at the bottom?

[2018-02-28 16:47] #183 closed

[2018-03-01 00:42] rafaelcr opened #186 "Displacement view center bug on rotation presentation"
I'm presenting ImageViewer on rotation so that the user can see a picture in full screen. When I do so, however, the center that the displacement view animates to is completely wrong. Here's an example:

![bug](https://user-images.githubusercontent.com/216195/36821045-a56282f4-1cb6-11e8-86a9-67dc0185ea7b.gif)

Notice how the center is fixed once the `fetchImage` block is called and the view is lay

[2018-03-02 09:07] prasannachitnis opened #187 "Crash in iPad ."
When we tap(Long press) on image viewer in full screen mode app crashes.Following is the log of crash. iPad Air OS version: 11.2

2018-03-02 14:37:07.114809+0530 ***********************[72442:39488480] Attempt to present <UIActivityViewController: 0x7fe3602bfc00> on <***********************.ImageGalleryViewController: 0x7fe35f87f600> which is waiting for a delayed presention of <UIActivityViewCont

[2018-03-13 09:27] springlo commented on #180
use kingfisher
[code]

[2018-03-13 09:54] springlo commented on #181
```GalleryViewController.currentIndex```

[2018-03-13 10:00] springlo commented on #185
U can use ```GalleryViewController.footerView```

[2018-03-14 07:55] rafalkitta commented on #176
The same here. Seems something wrong with view controllers hierarchy after show ImageViewer's `GalleryViewController`.

Can anyone help?

[2018-04-04 04:58] nCr78 commented on #72
Hello! Has this function changed in any way? I'm updating my data source and calling reload at the right index but nothing is happening.. I have to reinitialise the controller for it to show changes.

[2018-04-19 11:09] alexanderkhitev commented on #183
I decided to write how I solved this problem.

[code]

[code]

[2018-04-21 02:18] qhuang20 opened #188 "'weak' should not be applied to a property declaration in a protocol and will be disallowed in future versions"

[2018-05-15 18:37] ugenlik opened #189 "Please release the latest commit in Podspec"
iPhone X issue is fixed in  commit `'a4de06a08a78c4b0a65a48aa891f755b64ff03a8'` but unless I specified the commit in the pod file, I dont get the latest merge

`pod 'ImageViewer', :git => 'https://github.com/MailOnline/ImageViewer.git', :commit => 'a4de06a08a78c4b0a65a48aa891f755b64ff03a8'`

[2018-06-01 03:35] chenshipeng opened #190 "no animation and no current image if I set presentationStyle with .fade"
if if set             GalleryConfigurationItem.presentationStyle(.fade),then there is no animation to present,and the current image not appear.

[2018-08-02 09:23] algrid opened #193 "Video player controls not visible on a white background"
Hi, thank you for great lib!

I have a problem with light videos.
The play button/seekbar/close button controls are white and they are not visible on a light background (when the video content is light). It'd be nice to add some black or gray outline or shadow for them.

[2018-08-09 01:19] hpge commented on #188
delete weak is ok

[2018-08-10 15:05] ArmyXomuiL commented on #135
We have a similar problem.

[2018-08-17 16:37] algrid commented on #186
@rafaelcr thanks, your solution works good!

[2018-08-26 18:04] themoonlitknight opened #195 "reload(atIndex:) should take into account videoURL for video items"
In a common scenario where GalleryViewController is presented with a video item having a preview image but without the actual video data, which will be fetched while the gallery is visible, I would expect that a call to reload(atIndex:) would try to load the videoURL. Instead it reloads only the preview image.

I can't see a clean solution/workaround to that.

[2018-08-29 23:28] yaddaa commented on #45
Your problem

[2018-09-20 15:25] loryhuz opened #197 "To be removed"

[2018-09-20 15:26] #197 closed, assigned to nobody

[2018-09-20 15:27] loryhuz commented on #197
My computer lagged and I posted this issue by mistake sorry

[2018-10-01 07:44] sacyrr commented on #187
For Ipad it's failing because of long press on image

[2018-10-09 09:18] spacedema opened #199 "Vertical video is cropped"
Vertical video is cropped before launch and do not fit screen after launch.

![img_2339](https://user-images.githubusercontent.com/7204319/46659298-5cbdcc00-cbbd-11e8-8830-d3a02d43171c.PNG)
![img_2340](https://user-images.githubusercontent.com/7204319/46659297-5cbdcc00-cbbd-11e8-88f9-b7da0a70876d.PNG)

Is there any workaround?

Thanks

[2018-10-09 09:57] dhirenthirani opened #200 "Swift 4.2 Support"
Hey can you please make the changes required to support swift 4.2

[2018-10-10 04:55] JohnProg commented on #187
This PR solves the problem https://github.com/Krisiacik/ImageViewer/pull/201.
Let's wait any response.

[2018-10-10 23:00] kubatruhlar commented on #200
There is already a PR which fails but it should not be hard to solve that issue.

[2018-10-12 15:28] camclendenin commented on #181
I'm looking for something similar... right now I came up with something like this:

[code]

This works fine, but the downside is that I'm fetching the image a second time over the network just so I can get access to it for saving purposes. There are probably other ways of getting access to the image w/o fetching it twice but this works for now. I may add some image caching into my code that handle

[2018-10-15 10:04] Rdxer commented on #187
pod 'ImageViewer', :git => 'https://github.com/Rdxer/ImageViewer.git'

Use this

[2018-10-16 15:06] jerrygdm commented on #200
ugenlik: that commit is not swift 4.2 compatible, I got 52 issues...

[2018-10-17 16:04] ugenlik commented on #200
@jerrygdm do you have your inhibit warnings in pod file ?

that commit works fine in my project

check this out
https://github.com/Krisiacik/ImageViewer/pull/196

[2018-10-29 09:50] Pigarciag opened #203 "Memory Leak"
I've used this library as part of a bigger project, but i've found problems regarding memory leaks. Once you open an image or a gallery the images remain loaded in memory. As the user navigates through the galleries the memory keeps increasing and never decreases.

[2018-10-29 10:31] #203 closed

[2018-10-31 01:37] chenjie4255 commented on #200
@ugenlik your commit work perfect

[2018-11-12 04:59] Chepond opened #205 "controller reload datatsource"
how to reload the datasource of controller?
for example if i added more galleryItems to the array upon paging, how do i reload the whole source? since if i add the source to the start of array, it is working(direction: left), but if i add to the last of the array, it is not able to swipe to next photo(direction: right)

[2018-11-12 07:51] Chepond commented on #205
I have found the root cause.:)
When I added source to the start of array, after I called page(to: index), it can go to the last galleryItem as the index of the last galleryItem after paging has changed(increased). But if I add source to the end of array, the index of the last galleryItem will remain unchanged, then the page function will not perform any action as it is guarded....

Can anyone plea

[2018-11-13 02:22] JeromeTW commented on #203
I have the same problem.

[2018-11-13 02:29] JeromeTW commented on #203
@Pigarciag  How did you fix it?

[2018-11-13 10:02] RuiAAPeres commented on #200
I just merged Swift 4.2 support.

[2018-11-14 06:15] JeromeTW commented on #72
@nCr78 , I have the same problem, did you fix it out? Thanks

[2018-11-14 21:54] kubatruhlar commented on #200
Great, but there is no release yet.

[2018-11-16 02:31] Maxwell6635 commented on #200
5.1.0 still not available in CocoaPods, can I know why ?

[2018-11-23 10:33] kubatruhlar commented on #200
Probably because the podspec file is pointing to the older version.

[2018-11-26 02:54] Maxwell6635 commented on #200
Even I clear cache and all file in pod also unable to get 5.1.0 , any solution?

[2018-11-30 02:08] xieweizhi commented on #200
@kubatruhlar
Yep, the podspec is still pointing to the older version.

@Maxwell6635 , You can specify this pod to tag 5.1.0 in the podfile.

[2018-12-10 16:23] BMcS opened #207 "Update cocoapods"
Hello,

Can you push the updated podspec from the 5.1 release to Cocoapods please?

Thank you.

[2018-12-12 17:04] gabrielgava commented on #141
This will clearly cause a memory leak unless the caller explicitly dispose the GalleryViewController.

[2018-12-17 13:41] Guerrix commented on #200
Any update on this?, `pod update` does not get `v5.1.0`

[2018-12-20 12:44] meetiosdev opened #208 "how to use"
some one please how to use
extension BasicExampleViewController: GalleryItemsDataSource {
    func itemCount() -> Int {
        return items.count
    }

    func provideGalleryItem(_ index: Int) -> GalleryItem {
        return items[index].galleryItem
    }
}

Use of unresolved identifier 'items'

[2018-12-22 09:58] Luca9307 commented on #207
Is possible to do this?

[2018-12-22 20:50] aly-irshad opened #209 "Low audio and video thumb missing"
I am using this to stream video in my app . I am facing two issues. when the video about to play the video thumb is not visible for some time 1 or 2 second depending on how much time it will take to start play. I am using auto play. Plus i  can not see any buffering wait view for video like in imageS.

Another issue is that the  video sound is automatically going down to 20 percent randomly. If I

[2018-12-23 07:08] aly-irshad commented on #208
Create your items that is of type GalleryItem

[2018-12-28 11:03] Szkodniq1 commented on #200
Issue with version 5.1.0 still persist, but if you need to use this library with swift 4.2, you can specify the exact merge commit made by @RuiAAPeres in your podfile:

`pod 'ImageViewer', :git => 'https://github.com/MailOnline/ImageViewer.git', :commit => 'ffe41dffb2ec0d6506d622b10099dc5e5eaeea43'`

[2019-01-10 21:10] revdevnick opened #210 "EXC_BAD_INSTRUCTION on UIApplication extension force unwrap on flatMap"
I find when initializing the GalleryViewController that a crash happens on line 14 in UIApplication.swift.  While using flatMap there is a force unwrap which is crashing my application.  This needs to be handled properly and why is this happening?

[2019-01-12 08:53] #209 closed

[2019-01-12 08:58] aly-irshad commented on #199
Did you find any solution for this.

[2019-01-14 14:10] BMcS commented on #207
@Krisiacik are you able to update the podspec for cocoapods - 5.0 has the bug where when a user long presses on an image it causes a crash.

Thank you.

[2019-01-15 09:02] aly-irshad opened #211 "Video Cropping Issue"
Hello,

I am using this pod in my app. The video is square and getting cropped to 16:9. Because of this the video is getting cropped from the top. How to solve this.

In my app

![img_4749](https://user-images.githubusercontent.com/20099371/51169848-ef63ba80-18d2-11e9-9f50-d01c86282630.PNG)

ORIGINAL

![img_5aed2aad8b0e-1](https://user-images.githubusercontent.com/20099371/51169860-f985b900-18d2-1

[2019-01-15 12:39] aly-irshad commented on #211
Hello @RuiAAPeres

Can you help me on this.

[2019-01-16 17:13] aly-irshad commented on #211
Fixed..

ItemBaseController.swift

`override open func viewDidLayoutSubviews() {

        super.viewDidLayoutSubviews()

        scrollView.frame = self.view.bounds
        activityIndicatorView.center = view.boundsCenter

        //this is added
        if let itemView = itemView as? VideoView{

            itemView.frame = self.view.frame

            itemView.center = scrollView.boundsCenter

[2019-01-16 17:15] #211 closed

[2019-01-16 17:16] aly-irshad commented on #199
Check this

https://github.com/Krisiacik/ImageViewer/issues/211

[2019-01-17 07:30] spacedema commented on #199
@aly-irshad Great! Many thanks! Will try your solution

[2019-01-24 15:40] the4thfloor commented on #135
In `GalleryViewController` is a `@objc fileprivate func rotate()` method.

Change the line ~521 from `guard UIApplication.isPortraitOnly else { return }` to `guard rotationMode == .always, UIApplication.isPortraitOnly else { return }` to fix it

[2019-01-25 05:01] a-r-w commented on #124
You are likely missing the:

`import ImageViewer
`
statement

[2019-01-28 09:18] xxkrcn opened #213 "layout ThumbnailsViewController when orientation changed"
Hello!
   Would you reset the  collectionView layout of ThumbnailsViewController to keep three cells of one row when change  the device orientation?

[2019-02-28 09:15] mateusz-as commented on #211
You should also change to previewImageView.contentMode = .scaleAspectFit in VideoView.swift init.
Because then you can properly display vertical and horizontal video preview images.

[2019-04-15 21:04] lijing8989 opened #216 "Can't play .mov video file"
I can play .mp4 file, but can't play .mov file.
Could you help me?

[2019-04-16 05:41] ch-muhammad-adil commented on #43
My project is based on swift 3 and i have tried to use this library, it has given me these errors please take a look on screenshot.

<img width="1280" alt="Screenshot 2019-04-16 at 1 48 11 AM" src="https://user-images.githubusercontent.com/8264639/56184617-23ff2380-6034-11e9-934f-4133dc6d8e03.png">

[2019-05-05 07:20] dmanrke commented on #207
is that possible to update the podspec for 5.1.0 release ?

[2019-05-07 10:20] soulCorw opened #219 "swift 5.0 Support"
Do you have time to add 5.0 support?

[2019-06-11 10:00] trispo opened #220 "statusBarHidden no longer works in iOS 13"
When testing our app with iOS 13 we see that hiding the status bar no longer works. Looking into the source code I can see you move the application window above the statusbar window which seems not to work anymore.

[2019-06-12 05:32] #161 closed

[2019-07-04 14:03] H3ndrx commented on #219
This should be 15 min work :)

[2019-07-10 13:44] paulsUsername commented on #219
Switft 5 would be great. Fixing everything between pod installs is not nice 😅

[2019-08-30 15:54] BaranEm commented on #219
I would also like to welcome the support for Swift 5.

[2019-09-10 13:31] LudoRWA commented on #220
Hi, did you find a solution ?

[2019-09-17 09:39] LudoRWA commented on #220
Ok thank you. Which lib do you use now?

[2019-09-23 08:37] trispo commented on #220
Well, that's not an open source one. Sorry.

[2019-10-17 17:28] jfahrenkrug opened #223 "Give commit access to more devs or let the community maintain this repo?"
@Krisiacik This is a great open source project, but it looks like it's dying due to lack of updates. I know how hard it is to keep up with issues and PRs. Would you consider moving this repo to Github organization and/or allow other developers commit access? That way more people could help to maintain this project and keep it alive. It would be a shame for it to die.

[2019-10-17 18:21] RuiAAPeres commented on #223
@jfahrenkrug who would you recommend to help maintaining this project?

[2019-10-17 18:25] jfahrenkrug commented on #223
@RuiAAPeres Great question. Are there currently other people with write access besides @Krisiacik ?

[2019-10-17 18:40] jfahrenkrug commented on #223
@RuiAAPeres That would be great! Maybe we could use this Issue as a place where people could volunteer to help. I can gladly help occasionally, but my time is very limited so I won't be able to do a ton of work.

[2019-10-17 19:07] zfoltin commented on #223
Well volunteered! 😉

[2019-10-17 19:11] RuiAAPeres commented on #219
Swift 5 support now available.

[2019-10-17 19:11] #219 closed

[2019-10-17 19:12] RuiAAPeres commented on #200
We now have Swift 5 support. Sorry for this guys. :(

[2019-10-17 19:12] #200 closed

[2019-10-18 02:17] Maxwell6635 opened #226 "CocoaPods still pointing to old pod spec"
Seems like cocoaPods dint fetch latest V6.0.0 podspecs.
https://github.com/CocoaPods/Specs/tree/master/Specs/5/b/f/ImageViewer

[2019-10-19 15:46] granchenkooleg commented on #226
Who has a problem updating to latest V6.0.0, write:
pod 'ImageViewer', :git => 'https://github.com/Krisiacik/ImageViewer.git'
...
pod install

[2019-10-19 16:09] RuiAAPeres commented on #226
@granchenkooleg The podspec should be pushed soon. Unfortunately I cannot do it myself.

[2019-10-19 22:42] kubatruhlar commented on #200
Unfortunately version _6.0.0_ is not available via Cocoapods yet.

[2019-10-20 12:24] RuiAAPeres commented on #200
@kubatruhlar that is correct, on the meantime could you use the alternative mentioned here: #226

[2019-10-21 14:11] granchenkooleg opened #227 "PlayButton and TimeLabel too low on iPhone 11"
![Screenshot 2019-10-21 16 48 04](https://user-images.githubusercontent.com/11960683/67212922-c950e500-f425-11e9-92be-0e1c698bd6d1.png)

[2019-10-23 17:50] RuiAAPeres commented on #227
We need more details thank this please.

[2019-10-25 09:58] granchenkooleg commented on #227
I have done.

[2019-10-25 09:58] #227 closed

[2019-10-26 20:53] Phacometer opened #228 "Animation glitch when swiping to dismiss"
When I swipe really fast on the image viewer to dismiss it, sometimes it doesn't do the smooth sliding dismiss animation, but jumps up and down then disappears. It looks like a glitch. See the gif:

![RPReplay_Final1572122996](https://user-images.githubusercontent.com/11540657/67625818-0dbaf700-f811-11e9-8ba6-959d09f12104.gif)

[2019-10-31 08:00] Gavin123 opened #229 "how use at CollectionView?"

[2019-11-02 08:34] cchamnab opened #230 "Load URL direct"
is it possible to load image using URL instead of download to UIImageView first ?

[2019-11-04 02:01] lur1 opened #231 "请问是否可以添加支持gif图的预览功能"

[2019-11-04 02:03] lur1 commented on #231
希望能支持gif的预览功能，不仅仅是jpg，png

[2019-11-28 09:45] Istroot opened #232 "pod search not latest version"
After pod repo update, pod search latest version still 5.0.0,is it my problem?

[2019-11-30 03:52] Istroot commented on #232
just   pod 'ImageViewer', :git => 'https://github.com/MailOnline/ImageViewer.git'

[2019-11-30 03:52] #232 closed

[2019-12-04 06:46] springlo opened #233 "EXC_BREAKPOINT"
[code]
in Xcode 11, UIApplication.shared.delegate?.window = nil

[2019-12-04 07:40] #233 closed

[2019-12-18 13:18] robertcrabtree opened #235 "Need hooks for delete confirmation"
It would be nice if there was a way to prompt the user for delete confirmation before an image is deleted. I was thinking we could add a separate delegate method called `shouldRemoveGalleryItem` so we could make sure that the user wants to delete. I've created a PR [here](https://github.com/Krisiacik/ImageViewer/pull/234).

Another option is to make `GalleryImageViewController.deleteItem` a public

[2020-01-03 06:15] YongruiDuan opened #236 "VideoViewController has bug"
function viewDidLayoutSubviews line 94
`let isLandscape = itemView.bounds.width >= itemView.bounds.height`

this is not the device direction

[2020-01-09 09:46] tumata commented on #226
Could someone please push the pod ? Takes a minute...

[2020-01-09 09:47] RuiAAPeres commented on #226
Unfortunately I don't have permissions to do so. 😞

[2020-01-09 10:48] zfoltin commented on #226
Done 🎉

[2020-01-09 10:48] #226 closed

[2020-01-28 09:44] H3ndrx commented on #220
@trispo im curious, which one did you use?

[2020-01-29 14:52] luismmejiasb opened #238 "Swift Package Manager Support"
Please add support for adding dependencies with Swift Package Manager 🙏

[2020-02-04 10:22] Visaut commented on #233
how to resolve ?

[2020-02-04 10:43] alimirshad commented on #233
@Visaut What do you want to achieve?

[2020-02-04 10:53] Visaut commented on #233
in Line : return (UIApplication.shared.delegate?.window?.flatMap { $0 })!
Error ->  "Fatal error: Unexpectedly found nil while unwrapping an Optional value"

use Xcode 11 , How to resolve ?

[2020-02-06 08:27] alimirshad commented on #233
@Visaut you need to get Window from UIView. or if you need it in app delegate you need to assign the window to appdelegate window property. you can't force unwrap it like you are doing

[2020-02-13 13:01] iOS-Ashish commented on #210
@revdevnick did you find any solution?

[2020-02-19 03:55] Visaut commented on #233
Thank you @alimirshad

[2020-02-25 03:37] LeXuanKhanh commented on #210
did this bug fix yet, i use version 6.0.0 and have the same issue, i found the issues that have the same problem but the i dont understand the answer #223 https://github.com/Krisiacik/ImageViewer/issues/233

[2020-03-05 03:06] KevinLiou commented on #230
### My working code like this, using Kingfisher 5.0

[code]

[2020-03-16 17:46] ekazaev opened #240 "IOS 13 Multiple scenes support"
In IOS 13 window property is deprecated and `SceneDelegate` is being used.

The following code crashes
[code]

[2020-04-06 13:52] mostafa-m-sayed commented on #240
same

[2020-04-16 23:40] Andrewangeta commented on #238
And updates on this? It’s be really nice to have.

[2020-05-05 21:12] WestFlow127 commented on #236
This fixed? I have an issue with a video playing with a shrunk size (horizontally). It's dimensions is 1280x1280.

[2020-05-28 11:17] abynim commented on #210
A workaround in two steps:
1. Add a `var window: UIWindow?` in _AppDelegate_
1. Set its value in _SceneDelegate's_ `scene(_ scene: willConnectTo: options:)`:
[code]

[2020-06-07 05:27] fukemy commented on #240
does it's fixed?

[2020-06-08 04:29] fukemy commented on #230
@KevinLiou your code seem load al image url before push to gallery show, sorry for my bad question, does it cause delay before present galleryVC ?

[2020-06-08 04:34] KevinLiou commented on #230
NO, because the picture files are downloaded asynchronously :)

[2020-06-08 04:43] fukemy commented on #230
thanks, your code help me a lot

[2020-07-05 06:07] takauser opened #242 "How to present ImageView like sample?"
I want to present and dismiss just like this. Tell me how to set GalleryConfiguration.
<img width="375" alt="tap" src="https://github.com/Krisiacik/ImageViewer/blob/master/Documentation/single.gif?raw=true">

My current code

[code]

[2020-07-08 20:59] takauser commented on #242
Please set GalleryDisplacedViewsDataSource

[2020-07-08 20:59] #242 closed

[2020-07-20 23:09] enasaz9 commented on #187
@Krisiacik what's the fix for this? could you please accept the PR mentioned above?

[2020-08-05 13:36] funkenstrahlen commented on #238
There is an open PR for this: https://github.com/Krisiacik/ImageViewer/pull/237

[2020-08-19 01:26] JunsW commented on #190
Hi @chenshipeng , how did you solve this issue?

[2020-08-19 03:26] JunsW opened #243 "first image not shown when presentationStyle set to `.fade`"
The problem can be identified by setting the presentationStyle to `.fade` in the example project

` GalleryConfigurationItem.presentationStyle(.fade),`

Is there any workaround for this?

### FYI
- The library is installed via pod
`  pod 'ImageViewer', :git => 'https://github.com/Krisiacik/ImageViewer.git'`

- My Swift is `4.2`

- This issue should be the same one mentioned is issue #190

[2020-08-31 12:38] kitanai-kitsune opened #244 "When I Tap the imageView, App crashed"
import UIKit
import ImageViewer

class ViewController: UIViewController, GalleryItemsDataSource {

    var galleryItem: GalleryItem!

    override func viewDidLoad() {
        super.viewDidLoad()

        let image = UIImage(named: "sample")
        galleryItem = GalleryItem.image{ $0(image) }

        let imageView = UIImageView(frame: CGRect(x: 100, y: 100, width: view.frame.width - 100*2, heigh

[2020-09-05 05:02] #244 closed

[2020-09-13 09:45] jo-simplefavor opened #245 "[Improvement] Initialize GalleryViewController Crash Error : Disable the Scene Session on Xcode Project"
I was using it on new fresh project for playground before integrating with real app on Swift 5.
Just want to let know if you're having the same trouble.

While initialize GalleryViewController for the first time, please make sure that you DISABLE SCENE SESSION on your project :
- AppDelegate : remove any scene session delegate
- Remove any scene session related on Info.plist
- Don't forget to add

[2020-09-16 20:19] tc-sgupta commented on #238
@Krisiacik Any update on this?

[2020-09-18 21:25] tc-sgupta commented on #238
This is an another open PR https://github.com/Krisiacik/ImageViewer/pull/246 which avoids folder restructure

[2020-09-23 05:05] funkenstrahlen commented on #238
I have a working version of ImageViewer with SPM support here for reference: https://github.com/funkenstrahlen/SimpleImageViewer/blob/master/Package.swift

[2020-10-08 11:16] #140 closed

[2020-10-22 17:03] davuthdv commented on #141
I got the same issue too. How do u guys solve this?

[2021-01-19 23:06] Ludotrico opened #248 "[BUG] Video controls under safe zone on new iPhones"
Devices that do not have home buttons instead have a greater safe zone at the bottom of the screen. When playing a video, this safe zone is ignored and the video controls are too low to interact with.

Here is a [picture](https://imgur.com/a/arBwgb3) of the issue.

[2021-01-22 17:59] ionut-lucaci commented on #248
I am also experiencing this

[2021-01-22 21:13] Ludotrico commented on #248
Please let me know if you have seen this @kellyroach @jfahrenkrug @woko666 @RuiAAPeres

[2021-02-02 07:31] Said13 commented on #240
Same issue.

[2021-03-01 13:43] emelyanovkirill opened #249 "Incorrect image change"
Hello!
Calling the `galleryViewController.page(toIndex: index)` method triggers an animated transition, but the image changes only after the transition is complete.

[2021-03-01 13:59] emelyanovkirill commented on #249
I call this method after 5 seconds [https://drive.google.com/file/d/1PZQHVG9b6ktwskHW9qEY_4VfAkV6mpvB/view?usp=sharing](in this video)

[2021-03-01 14:06] emelyanovkirill commented on #249
Although, in the standard sample, in the ThumbnailsController it is also visible.

[2021-03-21 15:31] moleculo27 commented on #220
I ran into this problem too. I tried all sorts of things but the only one that worked for me was to modify the ViewController that presents the ImageGallery. To show what I did, I made my changes to the example. The only file that has to change is ViewController.swift, see below (search for hideStatusBar).

`//
//  ViewController.swift
//  Example
//
//  Created by Rui Peres on 05/12/2015.
//  Cop

[2021-05-02 12:08] baronha opened #250 "[Question] How to use SDWebImage ?"
This is a great library. I am actually a newbie to ios programming. Can you guide me to integrate SDWebImage into this library?

[2021-05-02 14:18] baronha commented on #93
How to replace?  Please guide this newbie, I wanna use SDWebImage.

[2021-05-02 19:46] baronha commented on #59
+1 same

[2021-05-02 19:46] baronha commented on #59
same. I use SDWebImage

[2021-05-03 08:40] #250 closed

[2021-05-19 09:06] IhorKram commented on #244
I have the same problem. Could you tell me, how you deal with it?

[2021-09-09 12:06] mikechan1234 commented on #141
You can just pass it an object that conforms to GalleryItemsDataSource. Seems like a design flaw

[2021-11-26 08:59] Cypressok opened #254 "Change ThumbnailsViewController backgroundColor"
Can you add posibility change backgroundColor in ThumbnailsViewController?

[2022-01-10 13:04] RuiAAPeres commented on #238
This should now be addressed?

[2022-01-10 16:55] tc-sgupta commented on #238
@RuiAAPeres Please create a github release

[2022-02-12 09:44] hanawat commented on #248
I've found a temporary workaround.
`footerView` avoids safe area, so you just need to add a dummy view.

The default layout has a 25pt margin at the bottom.
https://github.com/Krisiacik/ImageViewer/blob/6.0.0/ImageViewer/Source/GalleryViewController.swift#L45
If you don't need it, set the `footerViewLayout` to 0.

[code]